[2014-10-08 21:21] tdunham02 opened #1 "Issues with a side menu controller"
Hi, there's an issue with the control is you try to call it from a side menu or "drawer".

I'm using MFSideMenu and when I call SCLAlertView from the open side menu, the shadow only covers the side view controller's view and the actual alert is displayed off-center.

Hopefully there's an easy way to add in the ability to display the alert in the middle of the window as opposed to the view controll

[2014-10-10 15:39] #1 closed, assigned to dogo

[2014-10-10 18:08] tdunham02 opened #2 "Within UINavigationController"
I've enjoyed working with your repo! Here's a small issue I encountered.

I have a main ViewController that is embedded in a UINavigationController. On that main view, I show an SCLAlertView, using:

[code]

For the root view controller, I use `self.navigationController` because I want the SCLAlert's shadow view to cover the title bar and buttons.

Now here comes the issue.

From that view, I pres

[2014-10-10 23:00] #2 closed, assigned to nobody

[2014-10-15 08:02] teamtomsk opened #3 "Fade animation for 'Done' button..."
I can't seem to be able to apply the fade duration to the default 'Done, 'OK' default button.  Whatever I do, I just get an immediate removal from the superview.

Any ideas?

[2014-10-15 09:34] cactis opened #4 "Is possible to bind action on default button?"
thanks.

[2014-10-16 06:04] jacksonpan opened #5 "is possible to move top when keyboard show?"
see the title.

[2014-10-18 15:00] #3 closed, assigned to dogo

[2014-10-20 00:40] #5 closed, assigned to nobody

[2014-10-20 02:28] jacksonpan opened #10 "is possible button show touch down or touch up display?"
i find ,when i click the button, it shows no status changed, i mean the appereance.

[2014-10-20 04:34] Shahar2k5 opened #11 "Any way to show this from a UIView?"

[2014-10-20 12:37] mamaral opened #12 "Podfile update?"
Hey Diogo, I'm integrating this using Cocoapods into a new app, and after adding it to my podfile and running `pod install` everything was pulled in correctly, but did not include the recent changes (validation block) that you merged. Is there an easy way to fix that?

[2014-10-20 13:02] #12 closed, assigned to nobody

[2014-10-20 13:25] #10 closed, assigned to dogo

[2014-10-22 14:27] rando128 opened #13 "crash on ios6.1"
Reason is the boundingRectWithSize call in SCLAlertView.m has to be done on a NSAttributedString object for iOS 6 instead of NSString for iOS7.

A conditional statement makes the trick:

[code]

[2014-10-24 01:16] boykindj opened #14 "Issue when displaying alert view in landscape"
I noticed that the SCAlertView is pushed to the lower left side of the screen if displayed on an iPhone 4S while in landscape orientation.  Other size displays also cause parts of the popup to be hidden off screen.

[2014-10-26 11:46] 4ntoine opened #15 "Improvement: progress dialog"
It would be great to have progress dialog too. I can imagine it as determinate/infinite loop in icon place with text.

[2014-10-27 02:09] jinseokoh opened #16 "typedef ActionBlock name confliction"
While using other libraries with cocoapods, I've found out the name ActionBlock is conflicted with others. Would you consider adding Prefix to the typedef? like (^ActionBlock)(void) to something like (^SCLActionBLock)(void). Just my 2 cents. Thank you for the great control.

[2014-10-27 02:47] #16 closed, assigned to dogo

[2014-10-27 14:08] #13 closed, assigned to dogo

[2014-10-27 14:08] #14 closed, assigned to nobody

[2014-10-28 15:35] #4 closed, assigned to dogo

[2014-10-28 22:09] jnordh opened #18 "Without SubTitle?"
Hello,
great AlertView! I am just implementing it in my Apps! However, I would like to show alert sometimes without SubTitle. How can I do it, without leaving a large space between Title and the button? To avoid the wasted space, would be great if this can be done/enhanced!
Many Thanks and regards
-Jan

[2014-10-31 10:58] enderoe opened #20 "Position not always correct"
Hi,

I got to say that i love SCLAlertView! I have ran into one problem though:
On some views the alert does not show up in the center of the view (see this screenshot: https://drive.google.com/a/socialbrothers.nl/file/d/0B6NlCTs3hnXlems4c1dueE9vMDA/view?usp=sharing )

Any thoughts on how to correct the position?

Oh i call in the Custom AlertView from a UIBarbuttonItem to add a object to the user

[2014-10-31 13:39] #20 closed, assigned to nobody

[2014-10-31 14:27] Alifar opened #21 "Add image to Alertview?"
Is it possible to add an image to the AlertView?

Thanks!

[2014-10-31 16:42] pahnev opened #22 "Any of the showAnimationType not working"
Hi!
Great looking alertview!
But whatever showAnimationType I try to set It always shows as FadeIn.
The hideAnimationType is working correctly though.
Tested on simulator with 7.1 and device with 8.0.2

[2014-11-01 05:07] adiman-dev opened #23 "Alert view keep on moving upwards on different UIKeyboardType"
When implementing two different UIKeyboardType on two UITextField, swapping focus between those UITextFields will cause the alert view to be pushed further up and did not reset back to center screen.

[2014-11-03 17:46] #21 closed, assigned to nobody

[2014-11-04 05:45] robotsu opened #24 "hi, a suggestion of one line about subTitle's height"
SCLAlertView.m line 520,
Change from:
NSAttributedString *str =[[NSAttributedString alloc] initWithString:subTitle];
To:
NSAttributedString *str =[[NSAttributedString alloc] initWithString:subTitle attributes:attr];

It can apply the "attr" you have defined.

Thank you for your nice code.

[2014-11-04 13:33] #24 closed, assigned to nobody

[2014-11-05 12:40] #23 closed, assigned to dogo

[2014-11-05 15:21] #22 closed, assigned to nobody

[2014-11-06 20:37] deanq opened #25 "Backbutton while SCLAlertView is shown causes zombie views"
When you have an alert shown, and the back button is clicked to take the User back to the parent view, the entire view controller stays in memory and never goes away. The way you can test this in simulator is to print a line in your deinit or didReceiveMemoryWarning for the child view. You'll notice that child views that pop back to root without an alert shown will deinit, and a line will not prin

[2014-11-12 16:43] atcnf3000 opened #26 "does not work with UIPIckview"
Thank you for the nice Alert Controller.

When I try to show the alert  under  PickerView delegate, like the following:

-(void)pickerView:(UIPickerView *)pickerView didSelectRow:(NSInteger)row inComponent:(NSInteger)component{

// if something  true I will give a warning to the user
[alert showWarning....];
}
The UIAlertView works under such condition but not SCLAlertView, it displays on the very

[2014-11-13 15:43] #11 closed, assigned to nobody

[2014-11-14 13:14] iosware opened #27 "typedef ValidationBlock name conflicting"
When SCLAlertView is using with other libraries via cocoapods name ValidationBlock is conflicted. Can you add prefix SCL to it as you did for SCLActionBLock? Thus SCLValidationBlock will be unique.

[2014-11-15 12:10] #27 closed, assigned to dogo

[2014-11-21 15:20] lewishalliday opened #28 "EXC_BAD_ACCESS (code=1)"
I'm having an issue with this.

I'm a big fan of SCLAlertView but i'm having an issue with a section within my code.

I am using the code elsewhere in my project but when using it within another view controller I'm receiving the above error.

It is showing itself within UIImage+ImageEffects.m on line [keyWindow.layer renderInContext:context]; within
- (UIImage *)convertViewToImage

This is the cod

[2014-11-22 01:32] ancloid opened #29 "Auto window height by subtitle height"
1. Thanks!
2. please subj, cause sometimes long text field is necessary

upd:
I found scrolling!
But user's window resizing still needed feature as option.

[2014-11-22 18:58] rando128 opened #30 "Now broken on iOS6"
Since the introduction of the textContainer definition in SCLAlertView.m which are iOS>7, the app crashes on iOS6.x
_viewText.textContainerInset = UIEdgeInsetsZero;
_viewText.textContainer.lineFragmentPadding = 0;

I could comment these 2 lines, but then the text appears truncated by the button. Any recommendation to workaround the issue?

[2014-11-25 13:03] #28 closed, assigned to nobody

[2014-11-28 11:24] #30 closed, assigned to nobody

[2014-11-29 11:30] syrakozz opened #31 "slow"
its slow can when it first run
better on second,
can you plz make it faster

[2014-11-30 03:14] #31 closed, assigned to nobody

[2014-12-01 16:52] #25 closed, assigned to nobody

[2014-12-06 12:13] DonBaronFactory opened #32 "Alert Positioning in TableView"
When triggering the Alert (which is btw absolutely great) in a TableView, when the tableview is scrolled to the very bottom, the positioning of the alert gets sometimes even out of screen and a weird background effect occurs (see screenshot)... Resigning the first responder and putting the focus back to a textfield which is at the beginning of the tableview doesn't help...

![ios simulator screen

[2014-12-08 21:10] #32 closed, assigned to nobody

[2014-12-11 00:46] #29 closed, assigned to nobody

[2014-12-12 14:07] DemianSteelstone opened #36 "Rotating with keyboard"
Hi! Nice alert view. But I have an issue on rotating with showed keyboard. Seems, coords calculation is not correct. I use it on iPhone.

[2014-12-16 12:45] ddaddy opened #38 "Long texts truncated"
If I show an alert with some long text, the end is truncated.
Is it possible to either shrink the text size more when needed or preferably expand the height of the alert view to fit the text?

Thanks for this awesome work.

[2014-12-17 19:43] sergiollegaspi opened #39 "alertview position issue"
I tried using this on one of my apps. It works well in UIViewController but got some issue in location when implementing in UITableViewController. What I did was I modified SCLAlertView.m and set the _backgroundView.frame to CGRectMake(0[x],0[y],vcWidth[width], vcHeight[as height]);. This is just a workaround not sure if you got a better solution. Thanks by the way for this awesome class:)

[2014-12-26 12:45] #15 closed, assigned to nobody

[2015-01-03 13:25] rando128 opened #40 "Tickbox enhancement"
It would be useful to have to ability to add a tickbox to the alertview allowing the user to select "don't show  this again". Ideally with blocks:

//Using Blocks With Validation
[alert addTickbox:@"Don't show again" validationBlock:^BOOL {
    BOOL tickboxValue = ....
    return tickboxValue;

} actionBlock:^{
    // handle successful validation here
}];

[2015-01-06 01:03] anclefeudor opened #41 "iPad landscape orientation for iOS < 8 is not supported"
Need to add rotation for landscape ipad iOS < 8 ;(
![ios simulator screen shot 06 jan 2015 03 03 03](https://cloud.githubusercontent.com/assets/2716717/5622724/91c22c2c-9550-11e4-8663-d3a4fc280f70.png)

[2015-01-06 16:58] RauruF commented on #41
I've have de same problem using SCLAlertView in iOS 7.

[2015-01-09 17:45] ezefranca opened #42 "Change Title Size"
Hi, what is the best way to change title font size (we work with multiples computers and using cocoapods, if I customize the root files, its a problem in another computer)

Thanks.

[2015-01-09 19:59] Kfeavel opened #43 "Change Edit Alert Color"
I don't believe that it is possible to change the color of the alert when it contains a UITextField. Maybe it could be changed to a format like that of adding another button, that way a custom alert could be set up and then a UITextField added.

[2015-01-09 20:08] Kfeavel opened #44 "Alert Moves After Keyboard Dismisses"
If an alert with a UITextField triggers another alert (any type), it will move from the center of the view to the bottom when the keyboard disappears. I've provided an example below:

    SCLAlertView *alert = [[SCLAlertView alloc] init];
    UITextField *textField = [alert addTextField:@"Text Field"];

    [alert addButton:@"Done" actionBlock:^(void) {
    // Executed when "Done" is pressed.

[2015-01-12 19:17] dogo commented on #42
[code]

You can access directly and change :D

[2015-01-12 19:21] dogo commented on #43
[code]

[2015-01-12 19:27] dogo commented on #44
humm, seems fine here

https://dl.dropboxusercontent.com/u/12595498/Untitled.mov

[2015-01-12 19:27] dogo commented on #41
yep, bug! huahaua ! Add to TODO

[2015-01-12 19:28] dogo commented on #39
great

[2015-01-12 19:28] #39 closed

[2015-01-12 19:31] Kfeavel commented on #43
Is that format available in the latest version? Here is how I currently have mine coded:

SCLAlertView *alert = [[SCLAlertView alloc] init];
    UITextField *textField = [alert addTextField:@"i.e. Pick Up Milk"];
    [alert addButton:@"Done" actionBlock:^(void) {
       //block stuff
    }];

    [alert showEdit:self
              title:@"Title"
           subTitle:@"Subtitle"
   closeButtonTitle:

[2015-01-12 19:34] Kfeavel commented on #44
Huh. It certainly isn't behaving that way for me. I'm running on an iPhone 5 (iOS 8.2 Beta) if that helps at all.

[2015-01-12 19:35] dogo commented on #43
yes, showCustom is available since 0.2.0. If you use showEdit will be always purple, you need to use showCustom

[2015-01-12 19:36] Kfeavel commented on #43
I'll look into that and let you know if it works!

[2015-01-12 19:37] dogo commented on #44
Humm, okay more info is always good :P. I will test later with the beta

[2015-01-13 04:12] portwatcher commented on #44
I have the same issue.

It seems the alert shows before the previous showing keyboard complete hiding animation. So the `UIKeyboadDidHideNotification` triggers after alert shows, alert will move a bit down in order to adjust itself position.

I think we the developers should take this situation into consideration. The SCLAlertView does nothing wrong.

We should present alert **after** the previous

[2015-01-13 13:40] Kfeavel opened #45 "Alert Moves Upwards When Switching Keyboards"
Every time the user switches keyboards (i.e. keyboard extensions), the alert will move upwards and not position itself correctly.

[2015-01-13 13:42] Kfeavel commented on #44
@portwatcher I'll see if there is something I can do to fix that. It might be worth noting that `UIKeyboardDidHideNotification` may not be the best way to go about moving the alert view. I recently opened another issue that might also be caused by `UIKeyboardDidHideNotification`.

[2015-01-14 13:35] TheSpring commented on #41
it's not only iPad , it's also for iPhone/iPod running iOS<8
guess because of new iOS 8 API for orientation which are called different
![1](https://cloud.githubusercontent.com/assets/1254421/5739502/e2664100-9c02-11e4-98c0-b91d481dfd0f.png)

[2015-01-15 14:31] dogo commented on #41
Fixed, please update to 0.3.9

[2015-01-15 14:32] dogo commented on #36
iOS version ? could you please attach a screenshot please

[2015-01-15 16:50] dogo commented on #26
Try ti use

self.parentViewController

[2015-01-15 17:56] TheSpring commented on #41
Thanks ! works great !

[2015-01-15 19:05] Kfeavel commented on #43
This was indeed an issue on my part. I'm closing the issue. Thanks for your help!

[2015-01-15 19:05] #43 closed

[2015-01-16 10:11] TripleJB opened #46 "iPad vs iPhone NavigationBar"
Hello,
SCLAlertView is great. I want to implement it in an update for my Swift learning app Swifty.

I noticed that there is a different behavior when showing the alert.
See the attached screenshot for more information!

![bug](https://cloud.githubusercontent.com/assets/5963790/5774641/4c016d88-9d70-11e4-995d-3257cf08565d.png)

[2015-01-16 10:14] ddaddy commented on #46
I've also seen this on an iPhone when the View Controller is embeded in a Nav Controller.
Only since the latest update.
Addong it back to UIWindow fixes it.

[2015-01-16 11:33] dogo commented on #46
Try to use on iPad

[code]

[2015-01-16 17:33] TripleJB commented on #46
Thanks for the quick reply!
This is how I use it in my ViewController, that is embedded in an NavigationController:

<code>SCLAlertView *alert = [[SCLAlertView alloc] init];</code>
<code>[alert showCustom: ...];

What do you mean by using the rootViewController?

[2015-01-16 17:47] dogo commented on #46
[code]

[2015-01-16 17:49] dogo commented on #46
Another try is use ```self.navigationController``` as first param

[2015-01-17 12:08] TripleJB commented on #46
Thank you very much. Still not everything is dark. This looks odd.
![img_0099](https://cloud.githubusercontent.com/assets/5963790/5788772/ea7a60ee-9e49-11e4-9287-82c5521dccfc.PNG)

[2015-01-17 16:21] TripleJB commented on #46
Another bug: If I change ViewController after showing the alert, my NavigationBar disappears.

[2015-01-17 16:51] #44 closed

[2015-01-17 18:46] #41 closed

[2015-01-19 02:22] dogo commented on #44
Fixed. Update to 0.4.0

[2015-01-19 02:22] dogo commented on #45
Please test with 0.4.0

[2015-01-19 03:07] Zarkwizard opened #48 "Landscape not working on iPad"
I was running some tests with the components, and I noticed it doesn't seem to rotate on an iPad using

7.0.4
IPad 3

When it runs in the simulator it works fine, but on the actual device it fails.   The tests were performed using the test app.  I have included an image from the iPad.
![img_0021](https://cloud.githubusercontent.com/assets/1426208/5795446/089bf6f2-9f56-11e4-8f06-92945b324ac5.PNG)

[2015-01-19 03:25] dogo commented on #48
Hi, which version you are using?

[2015-01-19 04:02] heyehao2008 opened #49 "Can i write the code anywhere?"
Can i write the code anywhere,not limit to viewController?
i just find the method to add alert view must have a parameter that is viewController's object.

[2015-01-19 06:05] DemianSteelstone commented on #36
IPad mini 64 bit. IOS 7
![screen shot 2015-01-19 at 9 00 53](https://cloud.githubusercontent.com/assets/5743752/5796508/3a78c7d6-9fba-11e4-9433-c4ead4c01184.png)

Sorry, I don't remember, why I wrote, that it was on IPhone  :)

[2015-01-19 10:54] dogo commented on #36
Please update to 0.4.0 and test again.

```pod update```

[2015-01-19 10:57] dogo commented on #49
You always will need a viewController, but you can use the root or the parent

```UIViewController *viewController = [[[UIApplication sharedApplication] keyWindow] rootViewController]; ```

or

```UIViewController *viewController = self.navigationController;```

[code]

[2015-01-19 13:45] Zarkwizard commented on #48
I went and looked and I saw there was an update from 2 days ago, the code I was using was probably about 6 days ago.  It appears that the issue was actually fixed recently.  The latest code works flawlessly.

Thanks for checking in.  It's a really nice alert.

[2015-01-19 13:47] #48 closed

[2015-01-19 13:49] dogo commented on #48
Great! :D

[2015-01-19 15:36] heyehao2008 commented on #49
oh,yaeh! thanks a lot!

[2015-01-19 15:38] #49 closed

[2015-01-19 16:53] tlextrait opened #50 "Display in formsheet"
The alert will display off-centered if showed from a modal presented in form sheet style on the iPad.

[2015-01-19 17:23] dogo commented on #50
![ios simulator screen shot jan 19 2015 3 22 51 pm](https://cloud.githubusercontent.com/assets/1487375/5804659/0f68f0e0-9fef-11e4-916e-760e137c6c3c.png)

like this?

[2015-01-19 17:30] dogo commented on #50
and you want to achieve? :

![ios simulator screen shot jan 19 2015 3 29 31 pm](https://cloud.githubusercontent.com/assets/1487375/5804780/0586f80a-9ff0-11e4-81fe-5872fb68bb7d.png)

[2015-01-19 17:41] tlextrait commented on #50
Yup!

[2015-01-19 17:46] dogo commented on #50
hehehe, nope! It's a bug 0o
Could you please test the upstream code?

[2015-01-19 17:48] tlextrait commented on #50
Damn I was hoping it was my fault. I'll test

[2015-01-19 17:53] tlextrait commented on #50
Actually I just realized it's swift so I can't test, never used swift, I wouldn't know how to test it (in a timely fashion).

[2015-01-19 17:55] dogo commented on #50
What it's swift? this lib is objective-c

You can copy and paste my changes locally and test.
https://github.com/dogo/SCLAlertView/commit/6e3a4b2b0632ffcf63149107178890ff26d43835

[2015-01-19 17:59] tlextrait commented on #50
Ah sorry I misunderstood, mis-read and thought you wanted me to look at the original code and see if it had the issue.

Your fix works perfectly thanks a lot!

[2015-01-19 19:30] dogo commented on #46
http://stackoverflow.com/questions/19857152/battery-icon-jump-to-front-my-overlay-when-battery-loading-or-low

Its a default behaviour

[2015-01-20 09:27] santoshsurve22 commented on #41
dogo..Thanks. You are awesome

[2015-01-20 12:19] #46 closed

[2015-01-20 16:30] #26 closed

[2015-01-20 21:26] dogo commented on #42
Since 0.4.2 you can use:
[code]

[2015-01-20 21:26] #42 closed

[2015-01-20 22:09] yas375 opened #51 "Device rotations support"
Nice work!

I've just tried `0.4.2` version and looks like it doesn't handle nicely device rotations. Is it something expected at this point? Would be nice to support rotations.
Thanks in advance!

![2015-01-21_0105](https://cloud.githubusercontent.com/assets/217368/5827235/d2c30dc6-a109-11e4-8c8a-2832ce85e699.png)
![2015-01-21_01051](https://cloud.githubusercontent.com/assets/217368/5827234/d294c

[2015-01-20 22:46] dogo commented on #51
I'm working on it, please use 0.4.0, until I fix the issue

[2015-01-20 23:07] dogo commented on #51
Please update to 0.4.3

[2015-01-20 23:09] dogo commented on #50
@tlextrait Could you please test the version 0.4.3  I made some changes related to modal presentation.

[2015-01-20 23:35] tlextrait commented on #50
Will do

-Thomas
Sent from my iPhone

[2015-01-21 00:52] tlextrait commented on #50
Works great in 0.4.3

[2015-01-21 00:52] #50 closed

[2015-01-21 14:10] dogo commented on #18
@jnordh Please update to 0.5.0
Changelog
```Resize automatically alert view when the title or the subtitle is nil```

[2015-01-21 14:10] #18 closed

[2015-01-21 14:11] dogo commented on #38
Added to TODO

[2015-01-21 14:52] yas375 commented on #51
0.4.3 works well! Thanks for the quick fix :)

[2015-01-21 14:52] #51 closed

[2015-01-22 10:55] syrakozz commented on #31
the alert is slow even in iPhone 6,
could it be faster ?

[2015-01-24 13:47] mythodeia opened #52 "Keyboard & rotation"
testing now on simulator for iPhone6.
Run demo app
Choose Show Edit
tap in the textfield. Keyboard appears and the control moves up.
Rotate simulator. The keyboard rotates and hides textfield.
Close the keyboard and you will see the control move downwards to compensate for the
keyboard removal.

thanks for the control by the way :+1:

[2015-01-25 18:12] Supertecnoboff opened #53 "The white background view is too long"
Hi,

This is superb. Just one thing, when I add buttons, the white background view is too long. How do you get it to end near the end of the last button?

Thanks, Dan.

![issue](https://cloud.githubusercontent.com/assets/876897/5892611/b0cc5fee-a4bd-11e4-89ed-8379ba0301bb.png)

[2015-01-25 18:24] dogo commented on #53
Hey, could you please post your code?  :)

[2015-01-25 19:48] Supertecnoboff commented on #53
Hey @dogo   Thank you very much fro replying. Thanks very much, here is my code:

header file:

[code]

implementation file (VIEW DID LOAD):

[code]

How I am using the alerts:
[code]

[2015-01-25 20:27] Supertecnoboff commented on #53
@dogo The problem seems to arise when having multiple SCLAlerts. Do you know how to fix it?

[2015-01-25 22:05] Supertecnoboff commented on #53
@dogo I managed to figure out a temporary fix. When making the SCLAlertView, you have to make it locally within the scope of where it is being called from. If you try and add buttons to multiple different SCLAlertViews in the ViewDidLoad, it trys to add the buttons to the other alertviews for some reason. So keep the creation/addition of buttons LOCAL. This fixes the problem but it doesn't answer

[2015-01-26 10:52] syrakozz opened #54 "background none"
how i can make the background transparent,
i mean the dark overlay,
how i can remove it

[2015-01-26 11:44] dogo commented on #54
Please test the upstream code.

Reference : 593b7a2078be0b18856027689ef99788299358fd

[2015-01-26 11:47] dogo commented on #53
Wow ! Thats crazy :P

Yeah the "default" way to use is locally.  I will take a look on this
I'm happy that  you managed to find a way to "fix"

Thank you for reporting and sorry about the bug.

[2015-01-26 11:48] #36 closed

[2015-01-26 11:49] dogo commented on #52
Thank you! Added to TODO

[2015-01-26 12:34] saltwat5r opened #55 "how to customize buttons separately?"
Is there any way to do it?

[2015-01-26 12:39] dogo commented on #55
[code]

[2015-01-26 13:46] saltwat5r commented on #55
Thanks!

[2015-01-26 13:53] #55 closed

[2015-01-26 14:28] dogo commented on #53
@Supertecnoboff Please update to 0.5.1

[2015-01-26 14:31] dogo commented on #54
Update to 0.5.1

[2015-01-26 14:58] syrakozz commented on #54
tx

[2015-01-26 15:00] #54 closed

[2015-01-26 15:01] syrakozz opened #56 "ability to only show one alert"
can you plz add a way or option to only show the alert one if there an alert appear,
even if the user trigger an alert

[2015-01-26 15:18] dogo commented on #56
What?

[2015-01-26 15:39] syrakozz commented on #56
if the alert is showed, and we trigger another alert it will show above it, can you add an option to show only one alert at the time

[2015-01-26 15:43] dogo commented on #56
This behaviour should be handled in the application side.

[2015-01-26 15:44] syrakozz commented on #56
ok tx

[2015-01-26 15:45] syrakozz opened #57 "SCLAlertView color"
can i specify a uicolor for it,
modifying the UIColor *viewColor; i mean

[2015-01-26 15:47] #56 closed

[2015-01-26 15:49] dogo commented on #57
Please read the documentation and take a look on the example app  :D

[code]

[2015-01-26 15:49] syrakozz commented on #57
aha, thank you :)

[2015-01-27 08:22] nycdanie opened #58 "Custom AlertView can't add any alertButton"

[2015-01-27 09:50] dogo commented on #58
What? Could you please be more specific?

[2015-01-27 15:48] dogo commented on #38
Implemented :dancer:

@frantzmiccoli @dagobert-duck @ddaddy , please update to 0.5.2

[2015-01-27 20:02] Hacoga opened #59 "Can I detect when the user press a button?"
How detect when the user press a button?

[2015-01-27 21:16] dogo commented on #59
[code]

[2015-01-29 00:54] Hacoga commented on #59
Thanks  but now appear two buttons :S!!
 haha.

[2015-01-29 00:57] dogo commented on #59
Just add one :D and if you don't need the "close" button, just set to nil

[2015-01-29 01:19] Hacoga commented on #59
ohh hahaha, of course.
Thanks ;)!

[2015-01-29 01:19] #59 closed

[2015-01-29 07:13] DemianSteelstone commented on #36
![ios simulator screen shot 29 2015 10 10 52](https://cloud.githubusercontent.com/assets/5743752/5953773/5479573a-a79f-11e4-8ad7-6d02c59f2b55.png)

ios 7 ipad 2 simulator

[2015-01-29 07:24] DemianSteelstone commented on #36
ios 7 ipad 2 simulator
Nothing changed
![ios simulator screen shot 29 2015 10 23 57](https://cloud.githubusercontent.com/assets/5743752/5953901/05b60c36-a7a1-11e4-851a-4b617c4ef673.png)

cocoapod SCLAlertView-Objective-C (0.5.2)

[2015-01-29 11:07] dogo commented on #36
Seems fine here :
https://dl.dropboxusercontent.com/u/12595498/ipad-rotate.mov

Give me more info :D

[2015-01-29 12:10] DemianSteelstone commented on #36
Hmmm..
Try to use it from splitViewController. From Detail or master.
Example:
https://www.dropbox.com/s/m0j6kvcwizvuwkc/SCLAllertTest.zip?dl=0
It's rotation seems good here, but background not covering entire screen.

[2015-01-29 12:19] dogo commented on #36
To cover all background you need to use :
```[[[UIApplication sharedApplication] keyWindow] rootViewController]```

as UIViewController

[2015-01-30 03:18] tlextrait opened #60 "Won't archive - Modules disabled"
I can compile great but not in release mode (making an archive for ad-hoc distribution), the compiler says modules are disabled. Do I have a config issue?

"use of '@import' when modules disabled"

[2015-01-30 11:04] dogo commented on #60
**Modules are enabled by default in new projects since XCode 5.** To enable them, go into your project build settings, search for "Modules" and set **"Enable Modules"** to **"YES"**. The **"Link Frameworks"** should be **"YES"** too:

![723su](https://cloud.githubusercontent.com/assets/1487375/5974731/d80d7b7a-a85e-11e4-9f70-8c131015b163.png)

PS : You can still release for older OSs (say iOS 4.3

[2015-01-30 19:17] Kfeavel commented on #45
The issue has been fixed and this issue will be closed.

[2015-01-30 19:17] #45 closed

[2015-01-30 21:46] tlextrait commented on #60
Thanks a lot, I'm still a beginner when it comes to iOS dev!

[2015-01-30 21:50] dogo commented on #60
No problem :)

[2015-01-30 21:50] #60 closed

[2015-01-31 08:59] syrakozz commented on #57
but when i user
alert showEdit
there is no color change ability

[2015-01-31 23:10] frantzmiccoli commented on #38
Thanks !

[2015-02-01 23:36] dogo commented on #57
Please test the upstream code
```alert.customViewColor = [UIColor purpleColor];```

[2015-02-02 08:42] syrakozz opened #61 "textarea in alert"
how i can add a textarea in the alert

[2015-02-02 09:46] dogo commented on #61
The alert already have a text area.

[2015-02-02 09:46] syrakozz commented on #61
i mean textview, an editeable one

[2015-02-02 09:54] dogo commented on #61
No, you can't add another textView. The default alert is composed by : UILabel and a UITextView.

You can add buttons and/or text fields

[2015-02-02 09:54] syrakozz commented on #61
ah ok , thank you

[2015-02-02 09:54] #61 closed

[2015-02-02 12:35] dogo commented on #57
Please update to 0.5.3

[2015-02-02 12:35] #57 closed

[2015-02-03 16:48] #38 closed, assigned to dogo

[2015-02-06 14:04] guilhermearaujo opened #62 "Add custom view"
I would like to be able to add a custom view to the alert, or at least a subclass of `UITextField`.
Perhaps a method like `- (void)addTextField:(UITextField *)textField;`

[2015-02-06 15:23] dogo commented on #62
```addTextField``` its not enough?

You can customize laters using ```textField``` reference

[code]

[2015-02-06 16:17] guilhermearaujo commented on #62
I am using a `UITextField` subclass that implements some input validation, and the only way to use to use it inside the alert is if I could add a previously created view. Since the method `addTextField:` automatically instantiates a regular `UITextField`, I can't replace it with the custom class I'm using. However, if I could pass a `UITextField`, I could pass the custom object.

[2015-02-07 02:23] acenario opened #63 "Blur backgroundtype is black"
Hi,

I am deploying on iOS 7 and the blur background type is acting strangely. Any ideas?

![ios simulator screen shot feb 6 2015 9 22 17 pm](https://cloud.githubusercontent.com/assets/591849/6090409/516ab630-ae46-11e4-95ec-a58b9c29a7b7.png)

[2015-02-08 19:38] gmogames opened #64 "Calling from inside a Model"
I have a custom Model that parses my JSON into properties and has a handleError method. Inside this handleError method I have an AlertView that popups the error to the user. Since this model is used everywhere, I wanted to replace the UIAlertview for the SCLAlertView, but it does require me to pass self or the viewcontroller, but inside the model, there is no self or viewcontroller.

What's the be

[2015-02-08 21:03] gmogames commented on #40
+1

[2015-02-09 08:49] dreampowder opened #65 "Blur background is wrong when shown from "UIModalPresentationFormSheet""
Hi,

When i try to show alertview from a form sheet, the blur background captures the whole ipad screen and puts it into the form sheet, which results wrong blurred background.

Steps to reproduce:

1- Present a view controller in "UIModalPresentationFormSheet" modal presentation style.
2- from the form sheet controller, show the alertview with blur background enabled. (the parent viewcontroller o

[2015-02-09 16:06] dogo commented on #62
Could you please test again, using commit f83a20b .
Let me you if works as aspected

[2015-02-09 16:10] dogo commented on #63
Hi @acenario.

It's running fine here iOS 7.1 iPhone 4S

![ios simulator screen shot feb 9 2015 2 09 01 pm](https://cloud.githubusercontent.com/assets/1487375/6109890/58944478-b065-11e4-9abf-0b0106c93c82.png)

Could you please give me more information :D

[2015-02-09 16:14] dreampowder commented on #63
Hi diogo, i’ll test with the commit you’ve told and tell you the results soon. btw, heres what i get from the cocoapods version. 

In the screenshot, can you see the inception effect inside the “form” view?

İyi Çalışmalar, Serdar Coşkun.

On Mon, Feb 9, 2015 at 6:10 PM, Diogo Autilio <notifications@github.com>
wrote:

[2015-02-09 16:21] dogo commented on #63
Screenshot not found.
           404

hehe @dreampowder, please check your screenshot upload.

[2015-02-09 16:28] dogo commented on #63
![ios simulator screen shot feb 9 2015 2 26 54 pm](https://cloud.githubusercontent.com/assets/1487375/6110274/d19402e4-b067-11e4-9963-ddbc69e809a0.png)

Yep, got it. Really funny inception

[2015-02-09 16:56] dogo commented on #63
@dreampowder

this is the expected behaviour  ?

https://dl.dropboxusercontent.com/u/12595498/blurModal.mov

[2015-02-09 16:57] dogo commented on #65
@dreampowder

this is the expected behaviour ?

https://dl.dropboxusercontent.com/u/12595498/blurModal.mov

[2015-02-09 19:12] dreampowder commented on #65
Absolutely! Thanks! :D

İyi Çalışmalar, Serdar Coşkun.

On Mon, Feb 9, 2015 at 6:57 PM, Diogo Autilio <notifications@github.com>
wrote:

[2015-02-09 19:22] dogo commented on #65
No problem :D

Fix reference 749e0a9

[2015-02-09 19:22] #65 closed

[2015-02-09 20:07] acenario commented on #63
@dogo I'm deploying iPhone 5S on 7.0. Here's the code that I use.

SCLAlertView *alertView = [[SCLAlertView alloc] init];
    alertView.backgroundType = Blur;
    alertView.customViewColor = [UIColor alizarinColor];
    alertView.showAnimationType = SlideInFromCenter;
    [alertView showWaiting:self title:@"Connecting" subTitle:@"Nobody understands the cloud..." closeButtonTitle:nil duration:0.0f]

[2015-02-10 11:23] dogo commented on #63
@acenario, I tried your code and seems fine here. (iOS 7.1 and 8.1.3)
That's sad but I don't have any device with iOS 7.0, only with 7.1+

I will need you help to investigate this issue, could you please run the test app and check if occurs too.

![img_0287](https://cloud.githubusercontent.com/assets/1487375/6126314/7509c6b8-b106-11e4-93ff-eae84150440c.PNG)

[2015-02-10 11:26] dogo commented on #64
Hi @gmogames you can use ```[[[UIApplication sharedApplication] keyWindow] rootViewController];``` as viewController

[2015-02-11 17:31] guilhermearaujo commented on #62
Great, it works!

[2015-02-11 17:38] guilhermearaujo opened #66 "AlertView does not disable Interactive Pop Gesture"
When I show an alert which should not be cancellable by touching outside its view, I expect the user to be "blocked", restricted to one of the options I present him (using buttons in the alert).
I noticed, however, that if the alert is presented from a VC inside a UINavigationController, the pop gesture (swipe from left to go back) still works.

This is bad, in my case, for instance, because I sho

[2015-02-11 18:53] dogo commented on #66
Yep, @guilhermearaujo you are right, to disable the pop gesture I need access to the ```navigationController``` like this :+1:
```<VIEWCONTROLLER>.navigationController.interactivePopGestureRecognizer.enabled = NO;```

The problem is: the viewController I get as a parameter can not have access to navigationController.
What we can do is: do a search looking for the navigationController or set it as

[2015-02-11 22:48] guilhermearaujo commented on #66
What about this?
[code]

Then set it back to enabled once the alert is dismissed.

[2015-02-11 23:30] dogo commented on #66
@guilhermearaujo Yep, almost this.

Please test my fix 0ab2a30

[2015-02-11 23:52] guilhermearaujo commented on #66
Your change will work if the view controller passed is embedded into a `UINavigationController`, however will still not work if the view controller *is* the `UINavigationController`.

[2015-02-12 12:23] dogo commented on #66
Seems fine in all my tests, could you please provide me an sample?

[2015-02-12 12:24] #62 closed

[2015-02-13 11:43] guilhermearaujo commented on #66
Here it goes: https://github.com/guilhermearaujo/SCLAlertView/commit/ff62b8cd21db1375ed06735bcd5f444c34e126ab

I've added a NavigationController and a previous view before your list of buttons to display the alerts.
Then I've changed the Error call to be presented on `[self navigationController]` instead of `self`.

Push any other button, and the swipe gesture is disabled. Push the error button an

[2015-02-13 12:24] dogo commented on #66
Patched :D
Please test c4ebc99 .

and thanks

[2015-02-13 13:01] invisible66 opened #67 "is it possible to add an icon to Button?"
How can i add an icon to Custom Button?

[2015-02-13 13:02] invisible66 opened #68 "is it possible to add progress bar to Custom AlertView"
is it possible to add progress bar to Custom AlertView?

[2015-02-13 13:17] dogo commented on #67
Like the regular way :

[code]

[2015-02-13 13:19] dogo commented on #68
```showWaiting``` function uses UIActivityIndicatorView

[2015-02-13 13:23] invisible66 commented on #67
I mean how can i add icon like this. :)

![ekran resmi 2015-02-13 15 19 39](https://cloud.githubusercontent.com/assets/8086679/6187837/1cfee094-b394-11e4-8e63-19828f98d7f1.png)

[2015-02-13 13:29] dogo commented on #67
like the regular way too

button.imageEdgeInsets = UIEdgeInsetsMake(x, x, x, x);
button.titleEdgeInsets = UIEdgeInsetsMake(x, x, x, x);

[2015-02-13 13:33] invisible66 commented on #68
I am using `showWaiting` in my login screen. But i want to show a progress bar while user uploading files. i mean i want to show like this :
![ekran resmi 2015-02-13 15 32 57](https://cloud.githubusercontent.com/assets/8086679/6187986/a1619a2e-b395-11e4-9d77-1293287fe69a.png)

[2015-02-13 13:37] invisible66 commented on #67
I got it. Thanks. :+1:

[2015-02-13 13:38] #67 closed

[2015-02-13 13:41] guilhermearaujo commented on #66
Perfect!

[2015-02-13 13:42] guilhermearaujo opened #69 "Execute block on dismissal"
It would be great if I could run some code after the alert is dismissed by pressing the Cancel button and tapping outside the view.

[2015-02-13 14:02] dogo commented on #68
Nope, you can't add a custom view to SCAlertView

[2015-02-13 14:03] #66 closed

[2015-02-13 14:16] invisible66 commented on #68
It would be great i could add a custom view. Thanks for your quick answer.

[2015-02-13 14:18] dogo commented on #68
This feature is not in my roadmap, but feel free to make a pull request supporting this

[2015-02-13 14:23] invisible66 commented on #68
i am beginner at IOS programming. I can't do this now. But in the future i'll do this :)

[2015-02-13 14:25] dogo commented on #68
Good studies for you, I'm closing this error for now ok?

[2015-02-13 14:25] #68 closed

[2015-02-13 14:28] invisible66 commented on #68
Ok. Thanks again.

[2015-02-13 14:35] dogo commented on #66
Official release 0.5.4

[2015-02-13 14:35] dogo commented on #65
Official release 0.5.4

[2015-02-13 14:35] dogo commented on #62
Official release 0.5.4

[2015-02-13 17:05] dogo commented on #69
you can execute using :
//Receiving information that SCLAlertView is dismissed
[alert alertIsDismissed:^{
    NSLog(@"SCLAlertView dismissed!");
   //EXEC your code here
}];

[2015-02-13 17:38] guilhermearaujo commented on #69
Exactly that! Sorry, I didn't see that method.

[2015-02-13 17:38] #69 closed

[2015-02-13 17:55] dreampowder commented on #65
Thanks for the quick fix :)

İyi Çalışmalar, Serdar Coşkun.

On Fri, Feb 13, 2015 at 4:35 PM, Diogo Autilio <notifications@github.com>
wrote:

[2015-02-21 14:39] anclefeudor opened #71 "Custom button height feature request"
SUBJ! Button is too narrow for my fat fingers! ;)

[2015-03-03 12:30] guilhermearaujo opened #72 "UIAppearance"
It would be great if the class implemented `UIAppearance`. This way we could set our default custom color and text font just once for every alert.

[2015-03-03 14:10] anclefeudor opened #73 "BOOL visibility of alert needed"
I think we need BOOL param like isAlertVisible for
[code]

[2015-03-05 04:10] dogo commented on #72
A PR to add this feature would be much appreciated.

[2015-03-05 17:57] Kfeavel opened #74 "Latest Version Fails To Build"
The current code is the following:

    if (SYSTEM_VERSION_LESS_THAN(@"8.0"))
        {
            // iOS versions before 7.0 did not switch the width and height on device roration
            if UIInterfaceOrientationIsLandscape([[UIApplication sharedApplication] statusBarOrientation])
            {
                CGSize ssz = sz;
                sz = CGSizeMake(ssz.height, ssz.width);

[2015-03-05 18:20] dogo commented on #74
Yep, the new Xcode beta complains about the missing parenthesis.

[2015-03-05 18:21] #74 closed

[2015-03-05 18:47] dogo commented on #74
Please update to 0.5.6

[2015-03-06 02:22] jaredreich opened #75 "Add button feature - button type"
Default button (regular color), destructive button (red color), custom button (custom color), grey button (grey color). What do you think?

Cheers,

- Jared

[2015-03-06 03:04] #75 closed

[2015-03-08 08:53] mbcoder17 commented on #28
I am having this same issue displaying it in a UITableViewController subclass.

[2015-03-08 09:11] mbcoder17 commented on #28
It crashes on this line: [keyWindow.layer renderInContext:context];

And this seems to be due to the fact that renderInContext cannot be called on a background thread: http://stackoverflow.com/questions/15135208/objective-c-renderincontext-crash-on-background-thread

[2015-03-09 03:28] mbcoder17 opened #76 "Crash in background thread"
I am trying to display an SCLAlertView in my app, but I am getting this error:

    Thread 1: EXC_BAD_ACCESS (code=EXC_1386_GPFLT)

on this line `[keyWindow.layer renderInContext:context];`

I am creating the alert after I call one of my parse cloud code functions. I have read that renderInContext should not be called in a background thread, but I have this exact same code in a different view cont

[2015-03-09 08:09] 4ntoine opened #77 ""use of @import when modules are disabled error""
I've just updated pods for my project and now i'm having "use of @import when modules are disabled error" because of `SCLAlertView.h`:

[code]

Modules are switched ON for the project:
![2015-03-09 13 09 55](https://cloud.githubusercontent.com/assets/846671/6551635/875f8840-c65d-11e4-97db-24c7d0dd9143.png)

How can i fix it?

[2015-03-09 08:11] 4ntoine commented on #77
It's because of commit: https://github.com/dogo/SCLAlertView/commit/27e6dbf75e4914240b188f8ef6dd68363e1e4597

[2015-03-09 12:11] dogo commented on #77
**Modules are enabled by default in new projects since XCode 5.** To enable them, go into your project build settings, search for "Modules" and set **"Enable Modules"** to **"YES"**. The **"Link Frameworks"** should be **"YES"** too:

![723su](https://cloud.githubusercontent.com/assets/1487375/5974731/d80d7b7a-a85e-11e4-9f70-8c131015b163.png)

PS : You can still release for older OSs (say iOS 4.3

[2015-03-09 13:23] dogo commented on #76
Please test the following code:

Replace makeBlurBackground by :
[code]

[code]

[2015-03-09 14:16] 4ntoine commented on #77
I've attached the screenshot where you can see modules are turned ON

[2015-03-10 06:17] mbcoder17 commented on #76
Hi, thank you for the very quick response! I replaced both of those methods and the alert now displays. Thank you very much! :)

[2015-03-10 22:21] #76 closed

[2015-03-10 22:23] dogo commented on #77
It's very weird, was enable before?
My Xcode is Version 6.2 (6C131e)

[2015-03-10 22:26] dogo commented on #73
Done. Commit 0793fa90145a3ef2fad4688d2d9eb73bb1014851
[code]

[2015-03-10 22:27] #73 closed

[2015-03-10 23:11] dogo commented on #71
@anclefeudor Please test my commit 2820f6fc1d10ccdbd61abc7b8a64d6d8e1f0c219

[2015-03-11 11:09] EliasNaranjeeSani opened #80 "Alert is behind the keyboard"
Hi,
First of all, thanks for this awesome tool.

How should I fix this when keyboard is showing?

![screen shot 2015-03-11 at 2 33 45 pm copy](https://cloud.githubusercontent.com/assets/4579208/6595127/7fba45da-c7fc-11e4-98f1-1b4bb5011612.png)

[2015-03-11 12:48] dogo commented on #80
Hi, could you please post your alert code ?
It's a iPhone 4/4S ?

[2015-03-11 14:01] EliasNaranjeeSani commented on #80
No its iPhone 6 runnig iOS 8.1
Keyboard is showing and then ask for an alert.

  SCLAlertView *alert=[[SCLAlertView alloc]init];
    alert.showAnimationType = SlideInToCenter;
    alert.backgroundType=Shadow;

    [alert showCustom:self
                image:[UIImage imageNamed:@"alertAvatar"] color:[UIColor colorWithRed:90/255.0 green:54/255.0 blue:44/255.0 alpha:1] title:@"test" subTitle:@"test"

[2015-03-11 14:07] EliasNaranjeeSani commented on #80
Also I should add that my app is not optimized for iPhone 6 so its a scaled iPhone 5 app, running in iPhone 6 simulator.

[2015-03-11 14:11] dogo commented on #80
Okay the trick should be done at developer side.

You have to add UIKeyboardWillShowNotification and UIKeyboardWillHideNotification observers like this:

[code]

[2015-03-11 14:16] dogo commented on #80
owwww, the keyboard was visible before the alert, so you need to resignFirstResponder before show the alert

[2015-03-11 14:19] EliasNaranjeeSani commented on #80
No it is not related to keyboardWillShow or willHide.
Keyboard is already in my view and then I ask SCLAlertView to come up.

I think you should show SCLAlertView in a new Window but you don't. You are adding SCLAlertView as subview of a viewcontroller and it causes this problem.
At least you should check that, if keyboard is showing in this view, the alert y position should be recalculated to be

[2015-03-11 14:23] EliasNaranjeeSani commented on #80
No I don't want to resign the textField and dismiss the keyboard.

If the alert was in a new window we didn't had this problem now, agree?

[2015-03-13 00:30] dogo commented on #80
yep, if the alert was in a new window the problem should not happens anymore, but it's not the case. I should make this change someday I'm kinda busy right now. You could make PR to add this feature, would be much appreciated.

[2015-03-13 01:04] dogo commented on #80
@EliasNaranjeeSani Please take a look on this branch
https://github.com/dogo/SCLAlertView/tree/feature/show-in-a-new-window

It's a initial work to support a new window, still have some issues to resolve but it is a start.

Let me know if its enough

[2015-03-15 10:40] EliasNaranjeeSani commented on #80
@dogo : Sorry about my delay on this and really appreciate your work.
Seems the new branch is totally working now and presents the alerts in a new window.
Will help you to make it more reliable on new branch if anything happened.

Again, thank you so much dude!

[2015-03-15 15:24] EliasNaranjeeSani commented on #80
@dogo : I'm using showCustom method for showing an alert in new branch. It seems the transparent black background of alert is not animating smoothly. Where the problem comes from? Any idea on this?

[2015-03-16 15:13] acenario commented on #63
Sorry, for the delay. Will help you investigate the issue soon.

[2015-03-16 15:21] dogo commented on #71
Update to 0.5.7

[2015-03-16 15:21] #71 closed

[2015-03-16 15:30] dogo commented on #80
Seems fine here

Iphone 6 Simulator
iOS 8.2

[code]

[2015-03-16 15:52] dogo commented on #63
No problem @acenario :D. Just for sanity check, test again with 0.5.7

[2015-03-17 00:28] wimbledon opened #81 "SCLAlertView's button does not show up on iOS 7"
In version 0.5.7,
SCLAlertView's button does not show up on iOS 7.1.2 and the dismiss gestures does not work anymore...

[2015-03-17 00:33] wimbledon commented on #81
I confirm that everything still works fine in version 0.5.6

[2015-03-17 01:26] dogo commented on #81
Yep! If you need iOS 7.X support please use the 0.5.6 version. Until I fix

Thank you

[2015-03-17 05:58] EliasNaranjeeSani commented on #80
Oops! Found it was because of my HUD. I have HUD which hides before showing the alert and both of these have a transparent background. It causes a ripple when hiding HUD and showing the alert.
Thank you @dogo .

[2015-03-17 12:51] lupugabriel opened #82 "Rotate - rotate on Ipad"
The white view changes it's height increasing his height at every rotate!
Is there a way to fix it?

[2015-03-17 13:02] dogo commented on #82
Please revert to 0.5.6

[2015-03-17 13:07] lupugabriel commented on #82
Wow! So quick. This is an awesome control. Do you need a screenshot? or you know about the bug?

[2015-03-17 13:12] dogo commented on #82
hehehe thanks @lupugabriel It's a know issue =(

[2015-03-17 13:14] lupugabriel commented on #82
pod 'SCLAlertView-Objective-C' , '~> 0.5.6' i tried like this but it's still installing 0.5.7

[2015-03-17 13:16] lupugabriel commented on #82
pod 'SCLAlertView-Objective-C' , '0.5.6' it worked!

[2015-03-17 13:20] lupugabriel commented on #82
it's still reproducing on 0.5.6 :(... same thing
![ios simulator screen shot 17 mar 2015 13 19 36](https://cloud.githubusercontent.com/assets/3657507/6688056/6230d0d2-cca8-11e4-97fa-151889f9a8ba.png)

[2015-03-17 13:22] dogo commented on #82
Duh!
Okay, lets gather some information : iOS version

[2015-03-17 13:24] lupugabriel commented on #82
IOS 8.

SCLAlertView *alertView = [[SCLAlertView alloc] init];
    [alertView addButton:@"Rate it now!" actionBlock:^{

    }];
    [alertView addButton:@"Remind me later" actionBlock:^{

    }];
    [alertView addButton:@"No, thanks :(" actionBlock:^{

    }];

    [alertView showInfo:self title:nil subTitle:@"If you enjoy using Sell It, would you mind taking a moment to rate it?" closeButtonTitl

[2015-03-17 13:32] lupugabriel commented on #82
and if i rotate a few times it incresease the height of the white view by a little bit

[2015-03-17 13:59] dogo commented on #82
Please update to SCLAlertView-Objective-C (0.5.8)

[2015-03-17 13:59] dogo commented on #81
Please update to SCLAlertView-Objective-C (0.5.8)

[2015-03-17 14:16] lupugabriel commented on #82
still occuring :(

[2015-03-17 14:24] dogo commented on #82
Weird, It's running fine here take a look.

https://dl.dropboxusercontent.com/u/12595498/rotation_ipad.mov

Try to delete your pod folder and make a pod install again

[2015-03-17 18:11] syrakozz opened #83 "new alert flick"
its flick on the newest version

[2015-03-17 18:12] syrakozz commented on #83
0.5.8 contain bug

[2015-03-17 18:15] dogo commented on #83
Information about th issue please

[2015-03-17 18:19] syrakozz commented on #83
its looks like it flick before than version , i just download 0.5.7
when you trigger an alert , the whole view go to the right about 0.5 second and then the alert appear,
its like a flick

[2015-03-18 03:04] #58 closed

[2015-03-18 03:04] #64 closed

[2015-03-18 08:04] syrakozz commented on #83
on version  0.5.6 its good ,
so the bug start  in 0.5.7

[2015-03-18 16:49] dogo commented on #83
Seems fine here. Record a video please

[2015-03-18 17:08] russellquinn opened #84 "Long texts truncated when using custom font"
The solution to issue #38 doesn't seem to work if you use setBodyTextFontFamily.

[2015-03-18 17:18] russellquinn commented on #81
The button I add with addButton doesn't show up on iOS 8.2, with 0.5.8.

There's space made for it in the view, but no button.

[2015-03-18 17:24] dogo commented on #81
Post your code please

[2015-03-18 17:29] russellquinn commented on #81
[alert showError:self.mainNavigationController title:@"title" subTitle:@"subtitle" closeButtonTitle:@"text" duration:0.0f];

     SCLButton *yesButton = [alert addButton:@"text" actionBlock:^(void) {
         //my action
    }];

[2015-03-18 17:54] dogo commented on #81
Weird seems fine here, but anyway I just release a new version. Please test with 0.5.9

[2015-03-18 17:55] dogo commented on #80
@EliasNaranjeeSani Please update your branch with my recent changes and let me know if there is any problem. thanks

[2015-03-18 17:56] dogo commented on #84
Add to TODO: Fix ling texts with custom font

[2015-03-19 06:02] EliasNaranjeeSani commented on #80
@dogo :+1:
Updated. Seems I can not fit the icon in custom mode now. I was already fitting the icon using
 self.circleIconHeight *= 3.0f;
but now it does not work.
![screen shot 2015-03-19 at 9 29 16 am](https://cloud.githubusercontent.com/assets/4579208/6725196/b5f25e52-ce1a-11e4-8aeb-41db4a76ba5f.png)
I wanna that icon be fitted in circle and its not possible now. Any idea on this?

[2015-03-19 10:11] dogo commented on #80
Its my bad. I will fix this

[2015-03-20 12:13] #83 closed

[2015-03-22 18:22] wimbledon opened #86 "Custom Icon Image's size is too small"
On version 0.5.9, when the custom icon image is set, the image appears to be half of the intended size.

I think this problem is because _circleIconImageView.frame is set before self.circleIconHeight *= 2.0f.

[2015-03-22 22:48] dogo commented on #86
Fixed update to 0.6.0

[2015-03-22 22:50] dogo commented on #80
Fixed update your branch

[2015-03-23 11:51] chamira opened #87 "shouldDismissOnTapOutside not working"
When I set alert.shouldDismissOnTapOutside=true, it is not working as it supposed

I did some debugging and found out that you set the tapgesture recogniser to _backgroundView, which is actually lay behind self.view

    [_rootViewController addChildViewController:self];
    [_rootViewController.view addSubview:_backgroundView];
    [_rootViewController.view addSubview:self.view];

Since self.view

[2015-03-23 13:36] dogo commented on #87
Thanks for reporting, yeah I made some refactor a couple commits behind and introduced this issue.

Please update to 0.6.1.

[2015-03-25 07:29] EliasNaranjeeSani commented on #80
Updated. Everything seems working fine. Thanks a lot @dogo.

[2015-03-26 12:08] dogo commented on #80
@EliasNaranjeeSani Please use master branch and init your alert using

[code]

[2015-03-26 20:54] kalsky opened #89 "allow adding more controls"
today you can add only buttons and textfields.
I think some more controls could be used in such an alert like UIDatePicker, UIPickerView.
Also, to be more generic, I would also add an option to add a UIView - so everyone could add some custom UIs that they need there (for example a custom version of a date picker, calendar, list of switches, etc.)

Thanks!

[2015-03-26 23:51] #86 closed

[2015-03-26 23:52] #87 closed

[2015-03-26 23:52] #81 closed

[2015-03-26 23:52] #63 closed

[2015-03-26 23:52] #77 closed

[2015-03-26 23:52] #82 closed

[2015-03-29 19:48] kartikthapar opened #90 "Support for horizontal button as in a UIAlertView"
Currently, the buttons are stacked vertically. Adding a button changes frame dimensions for the alert's window. In an alert, you would expect to have 2 buttons stacked horizontally. So if simply there is a view style that enables that option; it would be great. Thanks

[2015-03-29 23:35] kartikthapar opened #91 "addObservers for custom textfield"
I was just wondering if the exclusion of `addObservers` API call in `addCustomTextField:` was by design. Thanks!

[2015-03-30 04:40] kartikthapar opened #92 "SlideInFromCenter show animation with blur UI issue"
- (IBAction)showCustom:(id)sender
    {
        SCLAlertView *alert = [[SCLAlertView alloc] init];

        alert.backgroundType = Blur;
        alert.showAnimationType = SlideInFromCenter;

        UIColor *color = [UIColor colorWithRed:65.0/255.0 green:64.0/255.0 blue:144.0/255.0 alpha:1.0];
        [alert showCustom:self image:[UIImage imageNamed:@"git"] color:color title:@"Custom" subTitle:@"A

[2015-03-30 08:49] mbcoder17 opened #93 "Show while executing block?"
Is there a way to show SCLAlertView while executing a block? For example, if i want to make a call to my network and I want to show the waiting alert, can I do this until the block completes?

[2015-03-30 11:54] dogo commented on #91
Yes, It's by design since :D

[2015-03-30 12:14] dogo commented on #93
[code]

[2015-03-30 12:25] dogo commented on #92
Thank you for reporting.

[2015-03-30 12:30] dogo commented on #90
Indeed currently it's not supported. A PR to add this feature would be much appreciated.

[2015-03-30 12:30] dogo commented on #89
Indeed currently it's not supported. A PR to add this feature would be much appreciated.

[2015-03-30 20:20] kartikthapar commented on #91
By design "since"? :)

[2015-03-30 20:21] kartikthapar commented on #90
I will try for a PR; but it will be quite minimalistic.

[2015-03-30 20:22] kartikthapar commented on #89
I agree. Out of the ones listed in the OP, I consider adding a UIImageView to be the most crucial. This is not the same as the image in the top circle (as currently in my use case, I have disabled it in all my alerts).

[2015-03-30 23:11] dogo commented on #91
hahahahaha forget the since :P. dead piece of text

[2015-03-30 23:53] kartikthapar commented on #91
:)

[2015-03-30 23:54] #91 closed

[2015-04-01 03:55] kartikthapar opened #94 "SCLAlertView width"
Currently as I see the width of the alert view is the same for all types of alerts. In some cases, I want my alert to be a bit wider than they are — consider the requirement of a UIActionSheet with a few buttons.

Is there a way I can just say —

    alert.width = 300;

or something to that effect?

[2015-04-01 08:25] shahankit opened #95 "Navigation bar not hiding"
Navigation bar is active even after the alert is presented. Also it does not get blurred nor shadowed. Can you please tell how to show it above the navigation bar?

[2015-04-01 15:12] dogo commented on #94
Sadly no =(, currently the alert with it's fixed. This feature is in my roadmap

[2015-04-01 15:15] dogo commented on #95
[code]

[2015-04-01 17:49] dogo commented on #92
Fixed. I will make a release soon

[2015-04-01 22:29] kartikthapar commented on #95
Instead of that, you could simply the navigation controller, i.e. instead of `rootViewController` use `self.navigationController`.

[2015-04-01 22:30] kartikthapar commented on #94
That's cool; is there a potential timeline for this?

[2015-04-01 23:07] dogo commented on #95
yep, I also wrote it as a comment

[2015-04-01 23:09] kartikthapar commented on #95
Damnit

[2015-04-01 23:13] dogo commented on #92
Please update to 0.7.0

[2015-04-01 23:13] dogo commented on #80
Please update to 0.7.0

[2015-04-01 23:16] kartikthapar commented on #92
Thanks! :)

[2015-04-01 23:22] dogo commented on #94
hmm, is kinda hard to say because I don't have much time to spend this month. If I have to guess... maybe next month. Sorry

[2015-04-01 23:23] kartikthapar commented on #94
No that's cool; no need to be sorry. Just making sure it doesn't conflict with my timeline or anything like that. Thanks!

[2015-04-02 00:22] #92 closed

[2015-04-02 00:22] #80 closed

[2015-04-02 02:01] shahankit commented on #95
Ok I'll check and let you know if it doesn't work.

[2015-04-03 02:47] heyehao2008 opened #97 "interactivePopGestureRecognizer is not work with the latest versions"
I’am using the version 0.5.3 in my project ,and it is work well. yesterday i update to the latest version and get this trouble ,the  interactivePopGestureRecognizer lose efficacy，i can not swipe to pop with UINavigationController

[2015-04-03 02:54] dogo commented on #97
Yep! Since 0.5.4

[2015-04-06 17:43] kartikthapar opened #98 "iOS edge swipe gesture"
I cannot say this with 100% assurance but it seems like the edge swipe gesture in a navigation controller is getting botched up because of the alert.

In a normal table view, my edge swipes work perfectly but after the alert is displayed, edge swipes become infrequent. Further edge swipes from particular points don't seem to work at all. I am not sure if this framework is the primary cause for thi

[2015-04-08 22:01] guilhermearaujo opened #99 "Subtitle does not appear if title is set to nil or empty"
If `title` is set to `nil` or `@""`, then `subtitle` will not be visible. However, you can see the text if you scroll up. Looks like you're using a `UITextView`. Why not a simple `UILabel`?

![Image](http://cl.ly/image/0d083o372b33/Image%202015-04-08%20at%207.00.29%20PM.png)

[2015-04-10 00:12] kartikthapar commented on #98
Hey @dogo, could you please verify this?

[2015-04-10 13:59] dogo commented on #98
Hi, @kartikthapar

Could you please provide me a example ?

Just to make clear , when the SCLAlert shows up disableInteractivePopGesture is called and enableInteractivePopGesture is called at dealloc

[2015-04-12 07:22] Objective-Zero opened #100 "EXC_BAD_ACCESS"
Hi,

Just downloaded and implemented your library. Getting a EXC_BAD_ACCESS crash like shown in the attached image when tapping the dismiss button of an alert view.
![screen shot 2015-04-12 at 3 21 30 am](https://cloud.githubusercontent.com/assets/1030802/7104728/22bc3fb6-e0c3-11e4-8995-a0a2350f9d39.png)

[2015-04-14 06:07] Supertecnoboff opened #101 "Does not work on iOS 8 App Extension - 2 Errors"
Hi @dogo

I have two errors with this awesome app. One of them I managed to resolve, but the other I have not be able to solve. I am trying to implement SCLAlertView in an iOS 8 Extension (Widget).

The first error I got is in the SCLAlertView.m file in the ```viewWillLayoutSubviews``` method. There is a bit of code which determines if the app is in landscape, it doesn't work on an iOS 8 Extension

[2015-04-14 06:25] Supertecnoboff commented on #101
@dogo Also in a iOS 8 Extension Widget, the alert popup works but its appears at the bottom of the widget, not in the centre, do you know why this is the case and how to fix it?

[2015-04-14 20:14] dogo commented on #101
HI @Supertecnoboff , which version are you using? the latest version uses
```+ (UIImage *)convertViewToImage:(UIView *)view ```

And you need to use the methods that uses UIViewController as first parameter

[2015-04-14 20:15] dogo commented on #100
iOS version
Emulator or device?
Xcode version ?

[2015-04-14 20:16] Objective-Zero commented on #100
iOS 8.1.2
Device
Xcode 6.3

[2015-04-14 20:22] dogo commented on #99
![ios simulator screen shot apr 14 2015 5 21 07 pm](https://cloud.githubusercontent.com/assets/1487375/7146553/c40aad18-e2ca-11e4-8e8d-28f64ff4d908.png)

It's running fine here, are you using a custom font ?

[2015-04-14 20:23] dogo commented on #100
It's running fine here, could you please post your source code please

[2015-04-14 20:33] dogo commented on #84
@russellquinn Could you please tell me which font and size

[2015-04-14 20:38] Objective-Zero commented on #100
SCLAlertView *alert = [[SCLAlertView alloc] init];
    [alert addButton:@"Email Developer" actionBlock:^(void) {
        SHKItem *mailItem = [SHKItem text:@""];
        [mailItem setMailToRecipients:[NSArray arrayWithObjects:@"myEmail@yahoo.com", nil]];
        [mailItem setTitle:@"App Inquiry"];
        [SHKMail shareItem:mailItem];
    }];
[alert showInfo:self title:@"Info" subTitle:@"You can re

[2015-04-14 20:39] Objective-Zero commented on #100
Sorry for not formatting the code there, still new to this site. But pretty much I just implemented the library, used that code and it crashed when clicking the dismiss button.

[2015-04-14 20:48] guilhermearaujo commented on #99
Yes, but in the button.
`pod 'SCLAlertView-Objective-C', '~> 0.7.0'`
[code]

[2015-04-14 22:32] russellquinn commented on #84
Sorry, I stopped using SCLAlert and this was a while back. I don't think I have a record anymore.

[2015-04-15 05:49] Supertecnoboff commented on #101
@dogo Ok just upgraded to the new version, but sorry its worse. It has lots of deprecated warnings and it uses ```UIApplication sharedApplication``` even more now. Its not appropriate for use with iOS 8 widgets. So I think I will return to the previous version.

On a side note, I did find out why it was not showing in the middle of a widget, the issue arrises with this line of code: ```CGSize sz =

[2015-04-15 06:11] Supertecnoboff commented on #101
Right well I think you can close this now as I now longer have these issues. I fixed them by doing the following:

1) For the code which checks the device orientation:

[code]

I simply just removed it, as my app is for iOS 8 and higher only, so I don't even need that bit of code.

2) For the issue of displaying the alert in he correct vertical position in iOS 8 widgets, I am looking into either p

[2015-04-15 06:11] #101 closed

[2015-04-15 06:39] Supertecnoboff opened #102 "Enhancement: Support iOS 8 Widget frame position"
Hi,

This is just a simple enhancement that I thought of and is what I am using to correctly position the height of the SCLAlertView pop up in my iOS 8 Widget.

So when you are using the alert in an app, then it does not matter, you can just allow the library to use ```[UIScreen mainScreen].bounds.size;``` to get the size of the screen. However, when you are using a widget, you cannot use the scre

[2015-04-15 06:42] Supertecnoboff commented on #94
Yeah this would be a pretty awesome feature to add to the app.

[2015-04-15 06:44] Supertecnoboff commented on #102
Also just one other thought, would it be possible to add a popup option which allows you to embed a custom view inside it, this would allow developers to be able to add things like pictures, videos, etc... Anything they want, then they could link those views to another class and add any kind of feature they want. I think it would be a pretty cool feature to add to the app. Because write now you ca

[2015-04-15 12:16] dogo commented on #100
Hi, @Objective-Zero

Your code seems fine, try to remove the SHK stuff and run again. Like this

[code]

Probably its something related to SHK

[2015-04-15 12:16] dogo commented on #84
No problem @russellquinn thanks

[2015-04-15 12:43] dogo commented on #102
Hi, @Supertecnoboff

Could you please test my commit cb53c94

Yeah, some guys asked for this too (add custom view), I'm thinking about it

[2015-04-15 12:55] dogo commented on #99
Tested on:
iOS Simulator
iPhone 6
iOS 8.1

My code :

[code]

![ios simulator screen shot apr 15 2015 9 50 59 am](https://cloud.githubusercontent.com/assets/1487375/7158961/3c6edd9e-e355-11e4-9009-67b5a658928a.png)

[2015-04-15 13:05] dogo commented on #101
I made some changes related to extension view bounds.
Delete ```if (UIInterfaceOrientationIsLandscape([[UIApplication sharedApplication] statusBarOrientation]))
        {
            CGSize ssz = sz;
            sz = CGSizeMake(ssz.height, ssz.width);
        }
is really needed ? The presence in the code break something?

I'm curious, how the alert is present using as extension ? could you send me

[2015-04-15 13:17] guilhermearaujo commented on #99
Did you try using a navigation controller and calling `[alertView showNotice:[self navigationController] ...`?

[2015-04-15 13:54] #93 closed

[2015-04-15 13:54] #95 closed

[2015-04-15 13:54] #97 closed

[2015-04-15 14:59] dogo commented on #99
Yep, @guilhermearaujo it's related with ```self navigationController``` =(
Thanks

[2015-04-15 18:31] Supertecnoboff commented on #102
@dogo Interesting, will try it out when I have time. One last question, do you guys plan on bringing this to the Mac? If so, I would LOVE to use it for my Mac apps. This is a superb alert, I tried to port it myself but failed miserably lol :)

[2015-04-17 19:42] Objective-Zero commented on #100
The SHK stuff is not the problem. I just slightly altered the library code to make a button tap effect by changing the buttons alpha level and that worked so it must just be a bug that is hard to track down. I mean you can investigate this more if you would like but I am happy with my approach right now.

[2015-04-19 08:36] franklsf95 opened #105 "XCode 6.3 Warning: roperty access is using 'setSubTitleHeight:' method which is deprecated"
I received the following warnings in XCode 6.3 compilation:

    Pods/SCLAlertView-Objective-C/SCLAlertView/SCLAlertView.m:87:14: Property access is using 'setSubTitleHeight:' method which is deprecated
    Pods/SCLAlertView-Objective-C/SCLAlertView/SCLAlertView.m:758:22: Property access is using 'setSubTitleHeight:' method which is deprecated
    Pods/SCLAlertView-Objective-C/SCLAlertView/SCLAler

[2015-04-19 13:07] dogo commented on #105
It's already fixed, but a new version was not released

[2015-04-19 21:16] Objective-Zero commented on #100
I found the issue! I was using the library in a non-ARC project so that bug resulted from not using ARC. Once I included the proper compiler flags it worked properly.

[2015-04-20 12:55] rjpalermo1 opened #106 "Using SCLAlert as HUD"
Noodled around a bit and found an easy way to use this great control as a custom HUD / spinner replacement:

In your class.h file interface:

    SCLAlertView *hud;
    NSString *hudTitle;
    NSString *hudText;

In your class.m file provide these methods:

- (void)startHud {

    [self.view endEditing:YES];  //make sure keyboard is down

    hud = [[SCLAlertView alloc] init];
    [hud setShowAnim

[2015-04-21 10:09] alvarogirona opened #107 "Long text makes the alert larger than view."
If the alert subTitle text is too large the alert height goes bigger than the device view.
![img_0003](https://cloud.githubusercontent.com/assets/929869/7250044/365ba986-e81f-11e4-8c21-acda9b82dbfd.jpg)

[2015-04-21 13:17] #100 closed

[2015-04-22 14:07] dogo commented on #106
Nice

[2015-04-22 14:09] dogo commented on #107
uhauhuahauahuahuaha! Thats a hugeee text :D.
It's a bug but a bad behaviour too

[2015-04-22 16:06] #107 closed

[2015-04-23 15:25] #106 closed

[2015-04-23 15:26] #90 closed

[2015-04-23 15:27] kartikthapar commented on #98
I have just been busy with a lot of stuff recently. I will be updating at this at point; hopefully with a sample project. Thanks for understanding.

[2015-04-25 09:59] kross50 opened #108 "When presenting with textField and 2 buttons keyboard cuts off bottom bottom."
![screen shot 2015-04-25 at 2 56 24 am](https://cloud.githubusercontent.com/assets/5742269/7332506/0a41fd0c-eaf7-11e4-9281-76b0f927f4c4.png)

[2015-04-25 10:07] kross50 commented on #108
If I remove the cancel button and just rely on the user to dismiss by touch the background then it gets worse as the whole view moves down.
![screen shot 2015-04-25 at 3 05 31 am](https://cloud.githubusercontent.com/assets/5742269/7332531/2c5a443e-eaf8-11e4-8d32-7dff0fdeade3.png)

[2015-04-25 10:24] kross50 commented on #108
happens if a call becomeFirstResponder on textfield right after showing alertview

[2015-04-25 10:25] kross50 commented on #108
i've got a couple ways i can fix this... no worries

[2015-04-25 10:25] #108 closed

[2015-04-25 10:26] kross50 commented on #108
also, should automatically assume keyboard will be shown with autocorrection enabled

[2015-04-26 15:44] mzekrallah commented on #94
yes, it would be great to add this to feature .. Plus one :+1:

[2015-05-01 22:20] franklsf95 commented on #105
Do you have a timetable to release? Thank you.

[2015-05-04 00:06] dogo commented on #105
Please update to 0.7.1

[2015-05-04 00:06] #105 closed

[2015-05-04 02:27] franklsf95 commented on #105
Thanks!

[2015-05-15 14:16] ridvank opened #110 "Using SCLAlertView with Swift"
My application supports iOS7 and iOS8. I can not use SCLAlertView Swift version because of framework support. Anyway i am using:
  var alert = SCLAlertView()
  alert.showEdit(self, title: "a", subTitle: "a", closeButtonTitle: "a", duration: 0.0)
but it shows nothing.
Any help would be appreciated.

[2015-05-15 14:28] #110 closed

[2015-05-18 06:00] kalsky opened #113 "Adding a countdown to a default button"
When you set the duration of the alert, it would be nice if we can show a timer on the default button (either the done button or any other button that the developer thinks should be the default).
It can work the same as implemented in Waze for most of their popups.
Similar question was asked here, and a sample code is also attached:
http://stackoverflow.com/questions/11783439/uibutton-with-timer

[2015-05-21 00:12] dogo commented on #113
Ohhhh I really liked this! @kalsky
Added to my TODO :dart:

[2015-05-21 00:13] #102 closed

[2015-05-25 15:47] mhernandez91 opened #114 "Pod Install"
I'm getting this error after trying to run the pod install on my swift project. This is the first time I get this error and the only solutions I found where to update the gem but still didn't managed to make it work. Does someone knows what am I doing wrong?

$ pod install
Analyzing dependencies
[!] Unable to satisfy the following requirements:
 `SCLAlertView-Objective-C (~> 0.7)` required by `Pod

[2015-05-25 16:40] mhernandez91 commented on #114
Nevermind I find out the issue, thanks anyway

[2015-05-25 16:40] #114 closed

[2015-05-28 09:36] bluesky0109 opened #115 "with textfield how to set ok button status to disable when the textfiled input not valid"

[2015-05-29 03:11] dogo opened #116 "Add bounce animation to all slides"

[2015-05-29 03:12] dogo opened #117 "Drop iOS 6.x support"
I will drop the iOS 6.x support when iOS 9.0 be released

[2015-05-29 03:13] #98 closed

[2015-05-29 03:13] #84 closed

[2015-05-29 07:16] xeppen opened #118 "Unable to move alertView so keyboard covers the fields on the alert."
I am trying to add 3 textfields on the alert but on smaller devices the keyboard covers the fields so you can't see what you write. I would like a feature to move the textfield up if needed.

[2015-06-02 09:42] bluesky0109 opened #121 "when i rename AppDelegate.m to app AppDelegate.mm build error"
![7a31899d-28a2-45fe-b659-74930f5295f6](https://cloud.githubusercontent.com/assets/8929364/7933023/bf735624-094e-11e5-98fe-7f3dc71b80fe.png)

[2015-06-02 12:11] dogo commented on #121
**Modules are enabled by default in new projects since XCode 5.** To enable them, go into your project build settings, search for "Modules" and set **"Enable Modules"** to **"YES"**. The **"Link Frameworks"** should be **"YES"** too:

![723su](https://cloud.githubusercontent.com/assets/1487375/5974731/d80d7b7a-a85e-11e4-9f70-8c131015b163.png)

PS : You can still release for older OSs (say iOS 4.3

[2015-06-03 01:17] bluesky0109 commented on #121
![pod error](https://cloud.githubusercontent.com/assets/8929364/7950681/c4a74664-09d0-11e5-9c64-f0cd402977b1.png)

I use XCode6.3 and I checked the CLANG_ENABLE_MODULES setting in every target of my client project, as well as every target in the Pods project, and every single one is set to YES, But still can not solve the problem,please give me some method to solve it.

[2015-06-03 13:39] invisible66 opened #122 "check TextField.text is empty."
i want to check textfield.text and if it's empty then don't dismiss the SCLAlertView. how can i check?

[2015-06-03 15:23] dogo commented on #122
[code]

[2015-06-04 08:05] invisible66 commented on #122
perfect..! Thanks for your help :+1:

[2015-06-04 08:05] #122 closed

[2015-06-06 04:47] batnom opened #123 "UITextField Return/Done Action (UIControlEventEditingDidEndOnExit)"
It seems the default action of when the 'Done' button is to just hide the keyboard, but it would be ideal if it can hit the same action as the button you add with the Text Field.

Though adding the target to the text field doesn't work.

I've tried making it work a few different ways but it doesn't seem to stick.

[code]

[code]

[code]

But the `keywordSearch` function is never called.

Any sugge

[2015-06-06 11:41] alexcosmin commented on #118
Try using this component https://github.com/hackiftekhar/IQKeyboardManager .
I didn't try to use it with textfields inside a SCLAlertView, but works as a charm with textfields in a regular UIView.

[2015-06-09 02:45] bluesky0109 commented on #121
please release a new version of cocopods for Check for modules feature, thanks very much.

[2015-06-09 11:54] dogo commented on #118
Yep, I'ts a know issue

[2015-06-09 14:29] Waderoni opened #124 "previous alert won't go away if new 1 appears"
Hi. I'm using this in conjunction with a barcode scanner.  This works very fast and if there's a error, I present a "notice" SCLAlertView for 2 seconds but if the user gets moving too fast, they might get 2 errors quickly.  When this happens, 2 SCLAlertViews will pop up.  The last 1 produced will animate away fine but the 1 that was previously produced will not actually animate away and will be st

[2015-06-09 15:33] dogo commented on #124
This issue is related to your application, maybe if you check "isVisible" before show the alert

[2015-06-09 15:35] Waderoni commented on #124
good call.  Ok cool.
Thanks. I’ll put the check in

-Wade

[2015-06-10 19:04] dogo commented on #121
@bluesky0109 done 0.7.2

[2015-06-10 19:04] #121 closed

[2015-06-10 19:04] #115 closed

[2015-06-10 22:07] #124 closed

[2015-06-10 23:14] dogo commented on #94
Currently working on "feature/custom-width" branch

[2015-06-10 23:14] #118 closed

[2015-06-12 00:21] zhjuncai commented on #94
It would be great to have this feature

[2015-06-12 10:44] lupugabriel opened #125 "Alertview without the round circle above."
i would like to use the alertview without the round circle on the top. Is this possible?

Thanks

[2015-06-12 10:51] lupugabriel commented on #125
ok. i found the removeTopCircle method.
Can i add a picture under the title?
or the title changed to a picture?

[2015-06-12 11:04] lupugabriel commented on #125
What i want to achieve and what i achieved using:

UIImageView *view = [[UIImageView alloc] initWithFrame:CGRectMake(self.view.frame.size.width/2 -120, self.view.frame.size.height/2 - 178, 240, 50)];
    [view setImage:[UIImage imageNamed:@"alertViewBacgtround_rate"]];
    [alertView.view addSubview:view];

![screen shot 2015-06-12 at 12 03 59](https://cloud.githubusercontent.com/assets/3657507/81

[2015-06-12 11:09] lupugabriel commented on #125
ok... i can add it to alertview.titleLabel... now i saw it... sorry for the post!

[2015-06-12 12:04] dogo commented on #125
no problem :D

[2015-06-12 12:04] #125 closed

[2015-06-15 20:59] robmaceachern commented on #77
I'm also having this issue. According to this comment, using `@import` isn't necessary since `#import` will be automatically mapped if modules are enabled, so I think https://github.com/dogo/SCLAlertView/commit/27e6dbf75e4914240b188f8ef6dd68363e1e4597 should be reverted.
https://github.com/jessesquires/JSQMessagesViewController/issues/541#issuecomment-58469043

[2015-06-16 12:41] EralpB opened #126 "Strong reference"
Why does SCLAlertView keeps a strong rootvc property?

@property (nonatomic, strong) UIViewController *rootViewController;

Isn't this a problem or how should I use it to prevent retain cycles? I made it weak to get make my vc's dealloc method to get called but I wanted to ask what's wrong.

[2015-06-22 12:22] abbasmousavi opened #127 "Alert view height problem when using it with long text in body"
When using long text as body text, height of alert view is adjusted with the text, so it may render alert button and header out of view, also when rotating device, the height does not adjust to view height, as you can see in following screenshots.

![img_0066](https://cloud.githubusercontent.com/assets/1249875/8281601/d432d2c8-18fe-11e5-8368-cb91af353484.PNG)
![img_0067](https://cloud.githubuserco

[2015-06-22 14:56] mehmetvefa opened #128 "How to change default button label?"
How can I change default button text? I am using default alert and I have a **DONE** button.

[code]

I want to change this button text without add any more button.

[2015-06-22 15:02] dogo commented on #128
@mehmetvefa Wrong lib, this is the Objective-C version.

[2015-06-22 15:03] mehmetvefa commented on #128
So which one is true?

[2015-06-22 15:04] dogo commented on #128
https://github.com/vikmeup/SCLAlertView-Swift   Swift version

[2015-06-22 15:10] #128 closed

[2015-06-23 15:03] peterlondon1 opened #129 "Swift use"
Could you tell me the correct entry into the bridging header file, and the correct import statement? (The swift version is not useable)

I've tried putting this in the bridging header:

    #import <SCLAlertView_Objective_C/SCLAlertView.h>

and using this import:

    import SCLAlertView_Objective_C

This code compiles, but no alert is visible:

    let alert = SCLAlertView()
    alert.showSuccess

[2015-06-24 10:27] #129 closed

[2015-06-24 10:27] peterlondon1 commented on #129
should have been using:
  alert.showSuccess(self, title: "Hello World", subTitle:"This is a more descriptive text.", closeButtonTitle: "Done", duration:5.0)

[2015-06-25 12:43] mythodeia commented on #52
any updates on this?

[2015-06-25 21:39] onewaterdrop commented on #89
+1. could you add some support to allow add some UIView like EDStarRating. thanks.

[2015-07-02 00:03] dogo commented on #127
yep its a known issue

[2015-07-05 06:01] RockyAo opened #130 "adding more control method"
could you add a method for dismiss ..   it  will auto dismiss  .  but I want it do something like send a request. when it success  then dismiss ..so please add a method to control  it.by the way  thanks for your Library..  it s really cool

[2015-07-07 06:00] hammyhamza commented on #115
Is there no solution for this?

[2015-07-07 09:37] MarshalGeazipp commented on #40
+1

[2015-07-09 08:08] raheelahmad786 opened #131 "Subtitle issue not showing properly - urgent"
Subtitle not showing properly as it is cutting "Y" and "G" characters at bottom.
<img width="254" alt="screen shot 2015-07-09 at 1 07 22 pm" src="https://cloud.githubusercontent.com/assets/7985860/8590607/8aea984a-263b-11e5-92ed-e716e9012f40.png">

[2015-07-14 02:49] chadpod commented on #131
I ran into this one as well. Until it is fixed, I just added the following to the initialization of _viewText.

_viewText.clipsToBounds = NO;

[2015-07-14 07:34] raheelahmad786 commented on #131
Fixed now.

[2015-07-14 07:35] #131 closed

[2015-07-15 22:22] Piero87 opened #132 "I can't see the added button"
hi, i have a problem with the SCLAlertView, i can't see the adde button, this i my code:

        SCLAlertView *alert2 = [[SCLAlertView alloc] initWithNewWindow];
        [alert2 showSuccess:self title:@"Button View" subTitle:@"This alert view has buttons" closeButtonTitle:nil duration:0.0f];
        [alert2 addButton:@"First Button" target:self selector:@selector(close_view:)];

and this what i s

[2015-07-15 22:36] dogo commented on #132
Hi @Piero87 , thats simple :D, you need to add the button before the alert is displayed like this

[code]

[2015-07-15 22:37] Piero87 commented on #132
I feel stupid! Thanks!

[2015-07-15 22:37] #132 closed

[2015-07-15 22:50] dogo commented on #131
Fixed properly

[2015-07-15 23:08] dogo commented on #130
humm, you can send your request and if success or failure call ```hideView``` something like:

[code]

[2015-07-16 06:00] RockyAo commented on #130
ok,, my fault  ,I  didn't see that method..   I had already add another method to your library  ,to controll that . thank u.

[2015-07-16 06:00] #130 closed

[2015-07-24 20:31] LeandroHub opened #133 "Parenthesis missing in SCLAlertView.m"
When integrating SCLAlertView via Cocoa Pods, I got an error in SCLAlertView.m:212. The line says:

but it should says:

Does it happen to everyone? I've using GitHub since a couple of years but never collaborated to a project. Now I'm learning GIT and would like to collaborate. May I modify this issue and make a pull request?

Thanks!

[2015-07-24 20:45] dogo commented on #133
Update your version , run pod update

[2015-07-24 20:50] LeandroHub commented on #133
Thanks for answering. My pod file says:

After running pod install, shouldn't it download the latest version?

[2015-07-24 21:52] dogo commented on #133
yep, 0.7.3 is the latest

[2015-07-24 23:57] LeandroHub commented on #133
That's the problem... pod install update my copy to version 0.5.4. I should definitely run pod update. Sorry, I'm kind of new to Cocoa Pods too. Thanks!

[2015-07-24 23:57] #133 closed

[2015-08-02 00:05] jetstream-mode opened #136 "Modules enabled but still getting disabled error"
in the build settings i've set the "Enable Modules(C and Objective C) to YES

i still get this compile error:
Use of '@import' when modules are disabled

[2015-08-02 18:17] lupugabriel opened #137 "crash on - (void)disableInteractivePopGesture"
I added an alertview on the back Action.
If i do it 2-3 times it crashes: enter the new window, back, enter new window.

Thanks.

<img width="891" alt="screen shot 2015-08-02 at 19 03 31" src="https://cloud.githubusercontent.com/assets/3657507/9027325/3bc68924-3949-11e5-8cb2-ca7f623fc95d.png">
<img width="873" alt="screen shot 2015-08-02 at 19 04 32" src="https://cloud.githubusercontent.com/assets

[2015-08-02 18:19] lupugabriel commented on #137
i can add that this happens after update my cocoa pods to this new version

[2015-08-02 18:26] lupugabriel commented on #137
i found a solution for this not to happen:
But i guess you should find a different solution. Thanks

<img width="808" alt="screen shot 2015-08-02 at 19 25 14" src="https://cloud.githubusercontent.com/assets/3657507/9027408/4390482c-394c-11e5-9979-54f0e41dd85d.png">

[2015-08-12 15:36] WillemPieterse opened #138 "Prepopulate alertview"
Good Day,
Is it possible to pre-populate a textbox with a value?

Thanks for the Brilliant control! I am using it with Swift, because your implementtation is just so much better that the other one :)

[2015-08-18 13:20] dogo commented on #138
Thank you @WillemPieterse
humm, you want something like this ?

[code]
![ios simulator screen shot aug 18 2015 10 20 07 am](https://cloud.githubusercontent.com/assets/1487375/9330912/b6f17578-4592-11e5-834c-b87f702f8675.png)

[2015-08-18 20:29] dogo commented on #113
@kalsky Feature provided by @yatryan

[2015-08-18 20:29] #113 closed

[2015-08-24 17:04] mottu commented on #137
I have same problem ,I am stuck .Please give proper way to solve this problem .Thank you

[2015-09-02 23:14] at90vader commented on #137
@lupugabriel your code didn't work for me :( have you found a better solution?

[2015-09-07 11:47] sunkehappy opened #141 "Add support to show only one alert view at the same time."
I need a property (or something else with the same effect) to control whether it is permitted to show more than one alert view at the same time. Maybe this property's default value is YES. Then I could change it to NO to make sure there will only be one alert view shown at the same time.

Is this a good feature?

[2015-09-07 13:13] sunkehappy opened #142 "Memory leak using new window way to display"
After I show the alert view many times I find there are memory leak.
![image](https://cloud.githubusercontent.com/assets/2052221/9717346/99374a54-55a4-11e5-8e37-8239aa94aee9.png)

As shown in this picture there are more than 10 windows from

`[UIApplication sharedApplication].windows`

 Of course I'm using the new window way to display.

I've tried to set the `SCLAlertWindow` to `nil`, set the tim

[2015-09-09 13:05] dogo commented on #142
@sunkehappy  thanks for reporting.

Hummm the correct way to hide a window is to set the hidden property to YES and to remove it from UIApplication's windows property you just release the window setting all references to nil

Could you please test the "dev" branch commit f12939010402874481396ba89e2b4a6d3726a920 , should be fixed

[2015-09-09 13:06] dogo commented on #141
isVisible property should do the trick :P

[code]

[2015-09-09 13:11] dogo commented on #137
I'm not able to reproduce this issue, someone could me provide me a sample :P

[2015-09-09 13:12] dogo commented on #136
SCLAlertView version please :D

[2015-09-11 03:51] at90vader commented on #137
It seems that this occurs when the app have this alert views in multiple views within a NavigationBar stack, but it doesn't happen always and don't have a defined sequence of steps, so I can't help,I don't know when and why will my app crash again. :(

[2015-09-14 11:38] Tj3n opened #143 "AlertView created by initWithNewWindow does not dismiss when touch outside"
Hi, i'd like to report that all the alert view that created by initWithNewWindow make shouldDismissOnTapOutside does not working :D hope u can fix it

[2015-09-15 15:18] dogo commented on #143
Thanks for reporting. Please update to 0.7.6

[2015-09-15 15:18] #143 closed

[2015-09-16 03:02] #138 closed

[2015-09-16 03:02] #136 closed

[2015-09-16 03:21] Tj3n commented on #143
thanks!

[2015-09-16 05:39] sunkehappy commented on #142
I've tested the newest release. It's not fixed yet. I guess we need to manually remove it from the `windows` array? If it's the correct way I could write the PR, but I'm just not sure whether we should modify the `windows` property of the `UIApplication`.

![image](https://cloud.githubusercontent.com/assets/2052221/9897146/b95d7b6c-5c77-11e5-8e21-63c39dcfdcfa.png)

[2015-09-17 07:42] kalsky commented on #113
Thanks for adding this!
But your countdown counts forward.. it's actually a timer..
I changed the code in the SCLTimerDisplay to:

- (void)updateTimerButton:(NSTimer *)timer{
    currentTime -= TIMER_STEP;
    currentAngle = (currentTime/timerLimit) * 360 + START_DEGREE_OFFSET;

    if(currentTime<=0) {
        [self stopTimer];
    }
}

and in the startTimerWithTimeLimit, I set the currentTime to

[2015-09-17 12:46] dogo commented on #113
ahhahaha thats true! Fixed now, supports countdown and timer :D

[2015-09-19 15:27] Simone67 commented on #141
Hello, when I check .isVisible flag, it seem to be TRUE ever.. also if the alert is not yet call and is not yet visible..

[2015-09-24 03:45] Tj3n opened #145 "background does not update if rotate device"
Hi, i'd report that when i rotate the device, the background does not update and cover the whole screen, but it keep it size in the last rotation, hope u will fix it, thanks!

the background that im using is the blur background

[2015-09-25 15:29] DennisDreissen commented on #89
I would like to have the option for a datepicker too.

[2015-10-04 08:06] kalsky commented on #141
I think what he means is that the alert should be a singleton, so that if i'm calling showWaiting with no duration or 20 seconds duration, then while it runs i complete a task and would like to either dismiss the wait or show a success instead, it will currently add another alert (if you init a new one) or will behave wrong (if you use the same object and just call the showSuccess)

[2015-10-05 08:35] mythodeia commented on #52
closing this due to lack of response

[2015-10-05 08:35] #52 closed

[2015-10-12 00:49] jdgong opened #147 "Get rid of the icon"
Hi

Is there a way to get rid of the icon, with just the text box (possibly with some buttons)?

Thanks!

[2015-10-12 12:48] dogo commented on #147
[code]

use this before show

[2015-10-13 06:26] shahimclt commented on #137
I got the same error in a tabbed interface (ICViewPager). Hope the screenshot might be of help
![screen shot 2015-10-13 at 11 50 27 am](https://cloud.githubusercontent.com/assets/8318002/10447344/5328210a-71a1-11e5-9878-4646a40fc6bc.png)

[2015-10-19 08:39] PatrykKaczmarek commented on #137
I experienced the same issue

[2015-10-20 13:48] #147 closed

[2015-10-20 13:54] dogo commented on #145
Seems fine here.
Could you please provide more info:

SCLAlertView version
Device or Simulator

[2015-10-20 13:54] dogo commented on #137
About this issue :
I'm not able to reproduce this issue, someone could me provide me a sample :P

[2015-10-20 13:55] #126 closed

[2015-10-20 15:32] mzekrallah commented on #89
+1 for custom UIView injection ...

[2015-10-20 21:12] dogo commented on #94
Please update 0.7.9 to custom width support

[2015-10-20 21:12] #94 closed

[2015-10-22 12:28] #145 closed

[2015-10-23 07:13] JackZYH opened #148 "SCLAlertView is not working!!!!!!!"
// When I user SCLAlertView like this, is not working!  And what should I do?

SCLAlertView *alert = [[SCLAlertView alloc] init];
        [alert showWarning:@"xxxx" subTitle:@"xxxx" closeButtonTitle:@"xxxx" duration:0.0f];
        [alert addButton:@"xxxx" actionBlock:^{
           // xxxx
        }];

[2015-10-23 07:58] lajosdavid commented on #148
You have to set the view controller the alert view will be displayed in.
[code]

Or if you want to present it in a new window, use this:
[code]

[2015-10-23 22:04] dogo commented on #148
Thanks @lajosdavid

[2015-10-23 22:04] #148 closed

[2015-10-28 05:08] haoatvapormedia opened #149 "iPad pro split screen support"
Hi Guys,

Just testing out SCLAlertView on iPad pro split screen, it seems like the alert is going to pop up at screen centre rather than the centre of the application.

Details can be found on the below screenshot.

![simulator screen shot 28 oct 2015 4 02 25 pm](https://cloud.githubusercontent.com/assets/14046249/10780097/c721efa8-7d8d-11e5-9eb0-c3853dc36555.png)

Tips: To enable split screen mo

[2015-10-30 20:41] Noobish1 opened #150 "Make the bounce animation a separate animation"
Hey there, can the bounce animation be made as a separate animation instead of the default animation? I'm not a fan of the bounce animation and I'm currently not updating the version of this library that I use because of this. Basically do what #112 did and have a separate option.

[2015-10-31 21:34] iZ3ro opened #151 "How do I add SCLAlertView to TheOs project?"
Hello I want to add SCLAlertView using Theos on my iPhone? How? Where do I put the files etc.. Help please. Thanks in advance!

[2015-11-03 00:27] dogo commented on #151
What is TheOS?

[2015-11-03 00:28] dogo commented on #150
Feel free to make a PR.

[2015-11-03 00:28] #150 closed

[2015-11-03 00:29] dogo commented on #149
Ops, bug :D

I'm currently busy with another project and I can't get any any ETA to fix this. Sorry

But you can also fix by yourself and make a PR

[2015-11-03 03:08] iZ3ro commented on #151
@dogo http://iphonedevwiki.net/index.php/Theos

[2015-11-11 07:38] abbasmousavi commented on #149
@dogo I think that https://github.com/dogo/SCLAlertView/pull/153 will fix this. Please accept this PR.

[2015-11-11 11:41] #149 closed

[2015-11-11 11:57] dogo commented on #149
@haoatvapormedia @abbasmousavi fixed could you please test the develop branch

[2015-11-19 03:11] Apptation commented on #137
I get about 75 crashes a day from this issue. I'm using Fabric to track crashes. The culprit is:

Crashed: com.apple.main-thread
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000000000020

SCLAlertView.m line 363
-[SCLAlertView disableInteractivePopGesture]

Here is a dump:
Thread : Crashed: com.apple.main-thread
0  libobjc.A.dylib                0x1981140b4 objc_retain + 20
1  Video Rage Faces

[2015-11-19 14:17] dogo commented on #137
I'm not able to reproduce

I changed a navigation bar example to test and everything seems fine
https://dl.dropboxusercontent.com/u/12595498/demo.zip

Could you guys help me to fix this issue? I need more information or a buggy sample

@Apptation
@PatrykKaczmarek
@at90vader
@lupugabriel
@mottu
@shahimclt

[2015-11-19 16:22] Apptation commented on #137
I have yet to reproduce this crash myself. It's the Crashlytics sdk that's
notifying me of about 75 to 100 crashes a day from this issue. I will see what I
can find out.

On Thu, Nov 19, 2015 at 9:17 AM, dogo/SCLAlertView
<reply@reply.github.com>
wrote:
I'm not able to reproduce

I changed a navigation bar example to test and everything seems fine
[https://dl.dropboxusercontent.com/u/12595498/demo

[2015-11-25 18:13] jflayhart commented on #72
Does something like this not do the job?
`alert.viewText.textColor = [UIColor whiteColor]; // subtitle text color`

[2015-11-28 12:16] abc19abc91 opened #155 "keyboard bug"
![image](https://cloud.githubusercontent.com/assets/5125983/11451771/a59317b2-960c-11e5-805c-50c147f19eb9.png)

let alert = SCLAlertView()
		let txt = alert.addTextField("Enter your name")
        alert.addTextField("Enter your pwd")
		alert.addButton("Show Name") {
			print("Text value: \(txt.text)")
		}
		alert.showEdit(kInfoTitle, subTitle:kSubtitle)

add two textfield,switch focus ,  bug...

[2015-11-28 15:42] abc19abc91 commented on #155
![image](https://cloud.githubusercontent.com/assets/5125983/11452614/846c6986-9629-11e5-8e98-09b08e06df09.png)

add some code, not completed solve problem

[2015-11-30 22:14] jflayhart opened #156 "Is this compatible with retina displays?"
The alert view looks pretty bad on retina displays... which is pretty much all devices. It's not sharp and looks slightly blurry... Is this known to look HD on retina displays?

[2015-12-02 15:51] ji3g4m6zo6 opened #157 "Dismiss method?"
Is the SCLAlertView has view dismiss method?
Thank you for your amazing alert view.

[2015-12-05 06:41] 942v commented on #155
Why you don't use the swift version?

[2015-12-05 06:45] 942v opened #158 "Multitasking Split Screen Bug"
The Alert appears at the middle of the UIScreen always, even if the UIWindow is smaller (like when you use iOS 9 multitasking split screen). I'm going to try to fix it, any hint?

[2015-12-05 16:25] dogo commented on #158
hum, I'm not tested yet the multitasking split screen support So the support is unknown.
Maybe the PR #153 could give you some information.

Thanks in the advance

[2015-12-05 16:25] dogo commented on #157
Nop, there is no public method to manually dismiss the alert

[2015-12-05 16:26] dogo commented on #155
What? Are you using the Swift or the Object-C version ?

[2015-12-05 16:27] dogo commented on #151
hum! Thats pretty cool but at the moment I got no time to look into

[2015-12-05 16:27] dogo commented on #151
Fell free to make a PR or add more information about it

[2015-12-05 16:27] #151 closed

[2015-12-05 16:28] dogo commented on #156
not tested

[2015-12-05 16:28] #156 closed

[2015-12-05 18:05] 942v commented on #155
I think so because the code in the SS is in swift. He should be using the swift version and not bridging the Objective-C version.

[2015-12-07 04:06] abc19abc91 commented on #155
![image](https://cloud.githubusercontent.com/assets/5125983/11618825/dc398c72-9cda-11e5-9530-29a346e35b57.png)
my project is swift,using ss Swift

[2015-12-07 04:37] abc19abc91 commented on #155
![image](https://cloud.githubusercontent.com/assets/5125983/11619134/2d5d1ade-9cdf-11e5-9e0e-f2e6c710228a.png)
using sample project, only add one more edit, switch focus,then bug...

[2015-12-07 09:37] dogo commented on #155
Wrong project, this one is the objetive-c version

[2015-12-07 13:03] #155 closed

[2015-12-10 12:03] KenmuHuang commented on #137
I have same problem.
I solve this problem by add code in the function of **viewDidLoad**. But, I think you should solve it by a better way.
**self.navigationController.interactivePopGestureRecognizer.delegate = nil;**

[2015-12-11 09:49] xq-120 opened #159 "when I pop multi-SCLAlertViews at the same time,then the window will become entirely black."
Execuse me,but I happen such above question when use SCLAlertView.Does anyone have some tips for me?

[2015-12-20 15:43] wdcurry opened #160 "alignment of BodyText.."
hey, I'm liking the repo. Added a property to allow us to set the body btext's alignment from the consuming project and thought to drop a PR, but cannot create a branch. I have yet to start contributing here (moderately new to iOS and github) and wondered if i need to do anything special to be able to both create the branch & submit the PR. It is admittedly minor though, just a property and setter

[2015-12-20 16:13] wdcurry commented on #160
..think i got it. The help was a tad vague. I believe i have to create my own fork first, edit changes then move toward the PR.. i'll get it ;)

[2015-12-20 16:13] #160 closed

[2015-12-22 19:06] wdcurry opened #161 "Adding a new SCLAlertViewStyle: Question"
It seems natural that when we offer up an OK/Cancel scenario, that we can select a Question-style'd alert. I'd do it up myself, but have never used UIBezierPath as yet. When time permits, i will attempt it, but dropping this as a suggestion.

[2015-12-24 16:15] wdcurry opened #162 "pop-up from pop-up enhancement"
An ideal solution to a pop-up that could involve complicated details would be to have the ability to tap a "?" or similar button that _does NOT_ close down the originating popup but instead leaves it behind the informational popup. This can allow us to present a streamlined workflow, but still provide details to help confused users.

[2015-12-24 16:34] wdcurry commented on #162
I have coded this in as another type of regular button, but a separate "over in the corner" kinda thing would be more appropriate. When i find time, i will package up the minor edits required in case others are interested.

[2015-12-27 15:07] xinqidian commented on #161
+1

[2015-12-28 10:15] jusefjames opened #164 "No Subtitle visible with iOS8.1"
The Subtitle is not visible when running at iOS8.1 (Tested with Example Project and iOS 8.1 Simulator).

![simulator screen shot 28 12 2015 11 06 50](https://cloud.githubusercontent.com/assets/1645220/12017483/88eb6bc0-ad57-11e5-8bef-0062809378f8.png)

Line 823 in SCLAlertView.m:
`r = [str boundingRectWithSize:sz options:options attributes:attr context:nil];`
All values of r are 0 in iOS8.1 Simula

[2015-12-28 13:04] dogo commented on #161
Implemented. PR #163

[2015-12-28 13:04] #161 closed

[2015-12-28 13:06] dogo commented on #162
:D. Sure take your time, I'm waiting

[2015-12-28 16:59] wdcurry opened #166 "title width enhancement?"
I generally try to avoid settings frames as much as possible, and given we set the title in the show method, it seems a tad more difficult to increase the size of the alert to match a slightly wider title. Cut-off titles just aren't proper.

Short of digging into the repo and editing, is there another way to manage this other than shortening the title itself?

[2015-12-29 16:27] dogo commented on #164
Please update to 0.8.0

[2015-12-29 16:27] #164 closed

[2015-12-29 16:28] dogo commented on #158
Please update to 0.8.0

[2015-12-29 16:28] #158 closed

[2015-12-29 16:28] dogo commented on #99
Please update to 0.8.0

[2015-12-29 16:28] #99 closed

[2015-12-29 18:56] Jackson0111 opened #167 "buttons from previous alertViews being displayed"
Every time I call setupAlert() which sets up an alert view, buttons/textfield from previous alertViews will be added again and displayed. Here is the function:

[code]

if I display this alert n times, there will be n "OK" buttons. Is there a way to fix this? But other than this, im loving this library, great work and I appreciate it!

[2015-12-30 09:23] ridvank commented on #167
I have the same issue. Did you find a solution?

[2015-12-30 10:30] ElDouD opened #168 "Orientation issue in landscape when UIViewcontroller lock orientation in Portrait"
I use SCLAlertView in an uiviewcontroller locking orientation by overriding these methods:

[code]

When the device is in landscape, my UI is still in portrait but the SCLAlertView is in landscape.
Is it possible to lock the orientation?

[2015-12-31 03:33] Jackson0111 commented on #167
I think putting let alert = SCLAlertView() inside of the function will fix the problem because it will just have a new instance of SCLAlertView every time the function gets called. Let me know if that works for you

[2015-12-31 07:11] ridvank commented on #167
Nope it does not work actually. It does not create an single instance still.

[2015-12-31 09:54] JeffMv commented on #167
Just to ensure you made it correctly, you must put `let alert = SCLAlertView()` at the beginning of the function. Hence, the code would look like

    func setupAlert() {
            // creates an instance
        let alert = SCLAlertView()

            // Then the setup calls
        alert.backgroundType = SCLAlertViewBackground.Blur
        // ...
        alert.showInfo( ... )
    }

[2015-12-31 09:56] ridvank commented on #167
The problem is when you create an instance of SCLAlertView when you dispatch a notification and create an instance after that.

[2016-01-04 04:36] shahimclt commented on #137
@dogo This error occurs very rarely in seemingly random situations, so I have no Idea how to reproduce this. But I will post next time I get this error.

[2016-01-07 10:15] chetan77 opened #169 "After scrolling uitabelview SCLAlertView not working & multiple alert window show"
However, if I scroll the table view, and while the table view is moving, I try to open the SCLAlertView, the SCLAlertView will also move with the table view and it results in the SCLALertView either shifted up or down.

[2016-01-11 02:14] dogo commented on #142
@sunkehappy could you please test again using develop branch?

[2016-01-11 02:18] dogo commented on #126
indeed, could be weak. thanks @EralpB

[2016-01-11 16:43] Easyzhan opened #172 "when iOS8，use"
[alert showNotice:self title:@"Notice" subTitle:@"test" closeButtonTitle:@"朕知道了" duration:0.0f];

subTitle can't be see

[2016-01-12 01:37] dogo commented on #172
SCLAlertView version and device ?

[2016-01-12 02:02] Easyzhan commented on #172
sorry，is Old version，“Fix for #164 no Subtitle with iOS8”，i saw it。 thx

[2016-01-12 02:02] #172 closed

[2016-01-14 14:08] Apptation opened #173 "View Hangs after SCLAlert is dismissed when alert is initiated from an action sheet button."
When SCLAlert is initiated (either in current view, or into with new window), from an action sheet button, when the SCLAlert is dismissed, the view hangs (becomes completely unresponsive, but doesn't crash)

[2016-01-17 05:36] exotue opened #174 "Lag when showing view for first time"
The first time an SCLAlertView is shown in my app, it takes a few seconds to load, stopping all interactions whatsoever. After this, it loads almost instantly. Is there a way to preload it in didFinishLaunchingWithOptions on my AppDelegate.swift file that could stop this from happening?

[2016-01-21 01:58] dogo commented on #142
Please update to 0.8.1

[2016-01-21 01:58] #142 closed

[2016-01-21 14:05] douglasg opened #175 "Button actionBlocks not working"
[self hideView] in buttonTapped is setting btn.actionBlock and selector to nil but it should be called after button actions are done and not before.

SCAlertView.m:

- (void)buttonTapped:(SCLButton *)btn
{
    // Cancel Countdown timer
    [buttonTimer cancelTimer];

    // If the button has a validation block, and the validation block returns NO, validation
    // failed, so we should bail.
    i

[2016-01-22 16:07] innovative1 commented on #175
Looks like this is a new issue with the latest release. I'm seeing the same thing after updating my pods

[2016-01-22 16:49] innovative1 commented on #175
This is the culprit: When the action block is registered, SCLAlertVIew registers a selection for the touch event.

[code]
Then buttonTapped does this:
[code]

Notice hideView is called before the action block. And Guess what hideView does:
[code]

So the actionBlock is nil by the time it gets called in buttonTapped.

[2016-01-22 16:54] dogo commented on #175
ops! my bad :P

[2016-01-22 17:03] dogo commented on #175
Please update to 0.8.2

[2016-01-22 17:03] #175 closed

[2016-01-25 14:31] kalsky opened #176 "Show alert while running a block"
Hi

Is there a good way to show the message while running a block and hide it when it ends?
Sometimes the block might run a 2-3 seconds, sometimes 30, and sometimes less than a second, so having a "minimum" time to show it would be nice.

blocks might be:
1. updating something on the database which might take time
2. waiting for a server to respond
3. processing video
etc.

Thanks
Yaniv

[2016-01-26 11:30] dogo commented on #176
Please test develop branch.

[code]

[2016-01-27 16:39] dogo commented on #157
Please test the develop branch

[code]

[2016-01-27 18:02] dogo commented on #174
could not reproduce.

[2016-01-27 18:02] #174 closed

[2016-01-27 20:38] dogo commented on #40
Please test the develop branch

[code]

[2016-01-28 13:45] Apptation opened #178 "If new alert is displayed before 1st waiting alert is closed by duration, then 1st alert will never automatically close"
1st alert set to automatically close after duration of 3s:
SCLAlertView *alert = [[SCLAlertView alloc] initWithNewWindow];
        alert.showAnimationType = FadeIn;
        alert.hideAnimationType = FadeOut;
        alert.shouldDismissOnTapOutside = YES;
        [alert showWaiting:@"First Alert ..." subTitle:@"blah blah blah ..." closeButtonTitle:nil duration:3.0f];

2nd alert called shortly after

[2016-02-02 03:58] ravenjam opened #180 "Anyway to set the popup position? Like height to top?"
It seems that now the center is hard coded to the backgroundview center. Is there a way to manually set it? Because sometimes the keyboard overlaps with the popup.

Thanks.

[2016-02-02 10:59] dogo commented on #180
nope. sorry

[2016-02-02 10:59] #180 closed

[2016-02-02 12:50] dogo commented on #166
[code]

[2016-02-02 12:51] #157 closed

[2016-02-02 12:51] #40 closed

[2016-02-02 12:51] #176 closed

[2016-02-02 12:52] #166 closed

[2016-02-07 08:08] skuske opened #181 "ButtonTimer: Enable button once timer elapsed"
This is an enhancement request: add a new 'ButtonTimer' method, call it 'EnableButtonTimer' and enable a disabled button once the timer elapsed.

[2016-02-08 07:30] sabiland opened #182 "Some issues with combination of device rotations."
If you launch alert from landscape mode -> then rotate device to portrait mode -> detection of button taps is weird - not precise or not working anymore.

[2016-02-11 20:09] chadpod opened #183 "Vertical spacing broken on 0.9.0"
Just updated to 0.9.0 from 0.8.2 and vertical spacing between circle, text view, and buttons is broken. The text in the text view ends up underneath the button.

[2016-02-11 20:21] dogo commented on #183
Could you please post a screenshot.
Thanks

[2016-02-11 20:27] chadpod commented on #183
![img_6587](https://cloud.githubusercontent.com/assets/587627/12989467/d21c7f80-d0a9-11e5-84e1-19c9839de6ad.PNG)
0.8.2

versus

![img_6588](https://cloud.githubusercontent.com/assets/587627/12989471/d8570852-d0a9-11e5-841c-95c063acc1ec.PNG)
0.90

Guessing it has something to do with bounding rect not being computed properly for NSAttributedString in 0.9.0.

[2016-02-11 20:28] chadpod commented on #183
Whoops didn't mean to close it, sorry.

[2016-02-12 02:00] chadpod commented on #183
The bug is triggered by having a nil _labelTitle.text. The offending line appears to be:

[code]

in viewWillLayoutSubviews

With a small adjustment, it seems to clear it up:

[code]

[2016-02-12 11:30] dogo commented on #183
yep ! @chadpod you are right, I was taking a look yesterday and I stumbled with the same line.
I will release asap a new version fixing this issue.
Thank you

[2016-02-14 12:35] rando128 commented on #40
Works great. Thx. From a UXD standpoint though, it might be better to place the switchView below the buttons.

[2016-02-15 14:30] dogo commented on #183
@chadpod Please update to 0.9.1

[2016-02-15 14:30] #183 closed

[2016-02-15 14:39] dogo commented on #181
Sounds nice, but @skuske could you please give me more information about the desired behaviour

[2016-02-15 15:38] skuske commented on #181
What I mean is: the dismiss button should be disabled by default, and after a timer has elapsed, the button should be enabled. Maybe the button's text should display a countdown if the seconds left before the button gets enabled.

[2016-02-18 09:30] zxbloved opened #184 "second button no working"
show success

second button

why no working.?

[2016-02-18 10:11] dogo commented on #184
Could you please describe your problem and show me your code if possible.
Thanks

[2016-02-18 10:45] eyeq2009 commented on #184
@zxbloved , maybe you think that button doesn't appear (what about placeholder? does it expand)? You can try to add some color and you'll see, that it is there...or add some logs to button's action.

[2016-02-18 14:32] joshinn opened #185 "UIWindow is not removed when alert showed and hided using new window"
show alert with new window and hide it, then I run Xcode debug view hierarchy,  there is an unexpected UIWindow.
<img width="149" alt="2016-02-18_22-31-18" src="https://cloud.githubusercontent.com/assets/7315025/13146184/70fa683e-d68f-11e5-8f0d-feb58599a4ed.png">

[2016-02-19 15:22] lolgear opened #186 "Add DSL for simple setup"
DSL needed to simplify setup

[2016-02-22 06:35] mzekrallah commented on #62
Thank you guys but I guess having a custom view is also necessary not only text fields .. in my case I wanted to add a radio buttons group so having only text fields is kind of limiting. Please reconsider this. Thanks

[2016-02-25 17:42] hdoria opened #187 "How to replace the latest SCLAlertView?"
Hi,

I'm running the following code:

[code]

Is there a way to hide this alert automatically when I present a new one?

[code]

Would be great if initWithNewWindow could hide the latest alert automatically.  For now, I have to call hideView all the times.

[2016-02-26 13:43] dogo commented on #89
@kalsky @kartikthapar @onewaterdrop @DennisDreissen @mzekrallah

Please test the develop branch. :+1:

[2016-03-03 12:07] dogo commented on #89
Please update to 0.9.2

[2016-03-03 12:07] #89 closed

[2016-03-03 12:08] #116 closed

[2016-03-03 14:31] daviddelmonte opened #188 "Is SCLAlertView version indicated?"
I am trying to find what version of SCLAlertView I am using. Is that shown in a header file somewhere?

Thanks - This is a great control..

[2016-03-03 14:44] dogo commented on #188
Thanks, @daviddelmonte
No =(, but if you are using through cocoapods you can look at podfile.lock

[2016-03-04 01:26] dogo commented on #62
Please @guilhermearaujo @mzekrallah update to 0.9.3

[2016-03-04 01:28] #184 closed

[2016-03-04 01:29] dogo commented on #173
Could you please provide me a sample. Thanks

[2016-03-04 01:30] dogo commented on #169
Could you please provide me a sample. Thanks

[2016-03-04 01:31] dogo commented on #159
Yes, you should dismiss the previous alert, than show the new one

[2016-03-04 01:31] #159 closed

[2016-03-05 16:30] #186 closed

[2016-03-06 16:05] #188 closed

[2016-03-08 16:02] TECatFD opened #196 "Alerts all placed on top of the nav bar"
I have done a pod update of the Objective-C version today and all alerts are now popping up on top of the nav bar instead of the center of the window. The OK button does not respond, either.
![simulator screen shot 8 mar 2016 16 00 13](https://cloud.githubusercontent.com/assets/17114062/13607236/23b7c370-e547-11e5-8a19-4a66f639fe25.png)

[2016-03-08 17:42] dogo commented on #196
could you please post your SCLAlertView code and what was your previous version?

[2016-03-16 16:48] alejandroivan commented on #147
Hi @dogo !
Continuing this question, when removing the top circle, how do you get rid of the space used by it?
I just removed the top circle for an alert but there's a lot of empty space on top of the title that I can't get rid off. Any suggestions?

Thanks!

[2016-03-18 11:30] invisible66 opened #197 "Execute block while 'showWaiting' running"
I have a confirmation alert. when user press the 'Confirm' button i execute a block, hide this alert and call another method. Then showing waiting alert. i want to execute a block when waiting alert is shown. how can i do that?

Edit :

i wrote this code. it's working but i didn't like that.. Is there another way?

      -(void)sendForm{

         SCLAlertViewBuilder *builder = [[SCLAlertViewBuild

[2016-03-23 20:03] fabersky commented on #181
Agree!
Or, it could be:

`[alert addCancelButton:@"Close" actionBlock:^(void) {
    //);
}];`

[2016-03-25 15:08] jerry317 commented on #147
@dogo I also want to know how to remove the empty space of top icon. Thanks

[2016-03-25 18:48] dogo commented on #147
Currently there is no way to remove the space. Sorry guys

[2016-03-26 19:07] jbhav24 commented on #187
I am having in the same situation and have been trying to solve it. How are you doing hideView? I also agree that initwithnewWindow should hide the previous alert.

[2016-03-27 18:19] #196 closed

[2016-03-27 18:19] #169 closed

[2016-03-27 18:20] #173 closed

[2016-04-07 16:21] iiMshl opened #199 "Custom UIColor?"
Is there a way to use Custom UIColor? because the color needs an integer

[2016-04-07 17:47] iiMshl opened #200 "[Bug] when changing keyboard..."
when I'm in the textfield and change the keyboard to the emojis the alert goes down!.. # #

[2016-04-12 14:58] xiaopn166 opened #201 "Portrait or Landscape fixed"
is it support fixed direction? or will be support? I have an APP that some ViewControllers fixed Portrait and some ViewControllers not . when I show the SCLAlertView in the Portrait ViewController ,then change the iPhone to Landscape ,the StatusBar follow it to change, it's not want. if you can add a property to fixed direction,it will be better!

[2016-04-15 07:18] accfews commented on #71
How to use this feature in current version, I just see constant MIN_HEIGHT, is there a way to override it when project is loaded via pod

[2016-04-15 12:15] dogo commented on #71
[code]

[2016-04-22 07:11] sby139919 opened #202 "ShowWaiting timer error"
When I used the ShowWaiting and hide this AlertView

the durationTimer didn't be invalidate

So I think is should be invalidate in method [HideView]

[2016-04-28 14:17] fabersky commented on #72
👍

[2016-05-03 20:56] dogo commented on #90
@kartikthapar feature added at 1.0.3 release

[2016-05-11 16:35] pnome opened #204 "Custom Button Color?"
I love SCLAlertView. I use it pretty much exclusively in my app.

It would be great to be able to set a custom button color (or attributes) for individual buttons. For example, if I add a "Delete" button I'd like to be able to make just that one red.

Thanks,
Joe

[2016-05-11 16:51] dogo commented on #204
Thanks @pnome,
Yep, you can set custom button color or attributes for individual buttons.

[code]

[2016-05-11 17:41] pnome commented on #204
Great. I saw that in the .h but hadn't realised how to implement it. Thanks :)

[2016-05-11 17:41] #204 closed

[2016-05-16 13:26] Cokile opened #205 "alert view not work"
I used cocoapods to install `SCLAlertView`.

here is my code:
[code]

When I ran the app, `alert` did not show.

Then I tried
[code]

`alert` showed but I could not interact with the alert view, that's to say, when I  click the button, nothing happened, the alert view would not  dismiss.

Meanwhile, when I change the `backgroundType`,  nothing changed, but when I used `NSLog("%d", alert.backgrondT

[2016-05-16 17:30] LeandroHub commented on #197
I think it's a good approach!

Anyway, I should set:

```__weak typeof(SCLAlertView) *weakAlert = alertXx;```

and use it inside the second dispatch_async like this:

```[weakAlert hideView];```

[2016-05-16 23:15] Cokile commented on #205
Well, I tried to use `SCLAlertViewBuilder` to show alert view, everything works.

[2016-05-16 23:15] #205 closed

[2016-05-18 09:30] ipaddr commented on #127
Have we tackle this issues?
Since I able to scroll table view outside of SCLAlert as screen shot below shown.

<img width="325" alt="screen shot 2016-05-18 at 3 33 24 pm" src="https://cloud.githubusercontent.com/assets/5902218/15353955/966b5ac0-1d15-11e6-8b67-09a43bcf8ffc.png">

<img width="322" alt="screen shot 2016-05-18 at 3 33 37 pm" src="https://cloud.githubusercontent.com/assets/5902218/1535

[2016-05-18 09:35] ipaddr opened #206 "Table title overlay of SCLAlertView"
When I have table view and I click one of it, it will shown the SCLAlertView. I able to scroll outside of SCLAlertView. Unfortunately, when I scroll back to the SCLAlertView, title of table section overlay the SCLAlertView as shown at screen shot below.

<img width="322" alt="screen shot 2016-05-18 at 3 36 05 pm" src="https://cloud.githubusercontent.com/assets/5902218/15354182/941e8c14-1d16-11e6-9

[2016-06-01 13:46] dogo commented on #72
@fabersky
@jflayhart
@guilhermearaujo
I started to support ```UIAppearance```, currently SCLButton and SCLSwitchView supports UI_APPEARANCE_SELECTOR

[2016-06-01 13:56] dogo commented on #202
Thanks @sby139919 .
Fixed

[2016-06-01 13:56] #202 closed

[2016-06-01 13:57] dogo commented on #199
What ? Could you please give me more information about it

[2016-06-03 17:36] fricred commented on #200
Is a issue  with 'initWithNewWindow' y solve using  'init' instead

[2016-06-04 00:09] dogo commented on #200
Could not reproduce. Please give me some steps to reproduce

[2016-06-04 19:05] iiMshl commented on #200
@fricred I don't get what you trying to say?
////
@dogo It's just when an alert is showing with a textfield while typing if I changed the language to anything else like from En to Emoji keyboard the alert moves down so I can't see the buttons and if I changed it one more time the alert just goes off the screen and there is just the black background for the alert...

[2016-06-04 19:13] fricred commented on #200
Yes, I know. I have the same bug, but mi problem was I add a picker subview to a 5 input text, so every time that I focus an input, the alert goes down and down, so I realize that only ocurr when I instanse the alert how new window (initWithNewWindow) so I let the default (init) method and work very well. (sorry no bad English, I hope I understand me, when I get home I ll paste the code)

[2016-06-13 08:04] mrtv opened #207 "Custom button height"
Hi,
I couldn't find any way to change the height of alert buttons. It would be really nice to have this option.

[2016-06-14 03:29] dushmantha commented on #137
if ((NSFoundationVersionNumber < NSFoundationVersionNumber_iOS_8_4) && ([UIDevice currentDevice].userInterfaceIdiom == UIUserInterfaceIdiomPad)) {
    }
    else{
        // Disable iOS 8git  back gesture
      if ([navigationController respondsToSelector:@selector(interactivePopGestureRecognizer)])
          {
        _restoreInteractivePopGestureEnabled = navigationController.interactivePopGestu

[2016-06-14 14:54] dogo commented on #137
What? @dushmantha

[2016-06-17 13:58] dogo commented on #207
currently the only way is :

[code]

[2016-06-21 12:56] pangelovski opened #208 "Statusbar Visible when showing the SCLAlertView"
Hi, I have a ViewController where I am hiding the statusbar but when displaying the alertview the statusbar pops up during the show and then the statusbar hides after the alertview is dismissed.
How can I prevent the statusbar from showing?

[2016-06-21 13:07] dogo commented on #208
[code]

[2016-06-22 23:25] #207 closed

[2016-06-22 23:25] #208 closed

[2016-07-04 05:36] ciumexan commented on #169
same issue here

[2016-07-04 05:38] ciumexan commented on #127
i have the exact same issue, with the alert not rendering in front of view but on the top...

[2016-07-04 05:39] ciumexan commented on #32
where did you put this piece of code? Thanks...

[2016-07-08 13:48] hdoria commented on #187
@vladdaneliuc I need to use initWithNewWindow

[2016-07-17 22:39] ciumexan commented on #32
hello cre8it any news

[2016-07-27 00:24] ciumexan commented on #206
same problem here...

[2016-07-27 07:20] jackyzh opened #211 "Tap inside the alert will dismiss the alert when using new window and shouldDissmissOnTapOutside=YES"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
###### Include the following:
- SCLAlertView version: `1.0.3`
- Device OS version: `9.0`
- Device Name: `iPhone 5s`
###### Reproduction Steps

Add an alert with new window and set `shouldDismissOnTapOutside` to `YES`.
###### Expected Result

Tap outside should disappear the alert but tap title or circle shou

[2016-07-27 08:00] Zkog opened #212 "Button height support"
It is possible to change the height of a button with:

CGRect frame = positiveButton.frame;
frame.size.height = BUTTON_HEIGHT;
positiveButton.frame = frame;

But the height of the window does not get resized so it is always to small.

[2016-07-27 23:13] dogo commented on #212
Please @Zkog check for duplicate issues.

https://github.com/dogo/SCLAlertView/issues/207

[2016-07-27 23:13] #212 closed

[2016-08-02 07:11] invisible66 opened #213 "is it possible to change subtitle text while alert is showing?"
- [+] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - SCLAlertView version: `1.0.3`
 - Device OS version: `9.3.3`
 - Device Name: `iPhone 5S`

###### Reproduction Steps
 1. Replace subtitle dynamically

I want to show percentage while uploading data to server. how can i change the subtitle while waiting alert is showing?

[2016-08-02 12:29] dogo commented on #213
Hi, you can set the subtitle text to nil and add a custom view to show the upload/download progress.

[code]

[2016-08-03 07:55] TSCombine opened #214 "Can't set selected on SCLSwitchView"
Setting the switch to preselected doesn't seem to work

SCLAlertView *alert = [[SCLAlertView alloc] init];
SCLSwitchView *switchView = [alert addSwitchViewWithLabel:@"Use local maps"];
[switchView setSelected:true];

Also tried
[[SCLSwitchView appearance]setSelected:true];

But without luck.

Is this not possible ? Thanks

[2016-08-10 12:10] hongdong opened #215 "Conflict with the IQKeyboardManager"
Conflict with the IQKeyboardManager

[2016-08-10 12:23] dogo commented on #215
What? Could you please describe the issue

[2016-08-11 07:33] hongdong commented on #215
![2016-08-11 15_26_26](https://cloud.githubusercontent.com/assets/5499518/17581401/2606e9b0-5fd8-11e6-9855-62a68022fea1.gif)

see  ！！！when touchoutside

[2016-08-15 09:51] pangelovski opened #216 "Border color"
Im presenting my alertView with the following parameters but for some reason the alertView has a grey border. Is it possible to hide the grey border?

   SCLAlertView *alert = [[SCLAlertView alloc] init];

    //Dismiss on tap outside (Default is NO)
    alert.shouldDismissOnTapOutside = YES;

    //Show animation type (Default is SlideInFromTop)
    alert.showAnimationType = SlideInFromBottom;

[2016-08-15 09:53] pangelovski commented on #216
Found out about the customViewColor property

[2016-08-15 09:53] pangelovski commented on #216
Found out about the customViewColor property

[2016-08-20 15:18] tinpont commented on #147
+1 for remove icon space.

[2016-08-20 15:47] tinpont opened #217 "carthage update fail for special platform"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - SCLAlertView version: `1.0.3`
 - Device OS version: none
 - Device Name: none

###### Reproduction Steps
 1. Enter project root folder
 2. Execute command "carthage update --platform iOS"

###### Expected Result
Install normal.

###### Actual Result
Throwing error

### Tell

[2016-08-21 18:08] matdimar commented on #187
When I call hideView before calling the second popup from the first one, XCode warns me that, "Capturing alert strongly in this block is likely to lead to a retain cycle." No issues seem to occur though.  Have you found any issues from the retain cycle that I may not have encountered yet? @hdoria @jbhav24

[2016-09-06 14:21] NikKovV opened #218 "Space, when no Title, SubTitle and Image."
I use custom View and got a space at the top, when there are no other elements. How to remove it?

![screen shot 2016-09-06 at 17 13 26](https://cloud.githubusercontent.com/assets/16647690/18276993/8d2167a6-7455-11e6-812c-f3ed52ae192b.png)

[2016-09-08 14:55] ignasibm opened #219 "SCLAlert view not covering Navigation or TabBar"
Hello, first of all thanks for your work, SCLAlerts looks awesome! I just wanted to know if there's a way to make the Alert take the "whole screen space" like UIAlertController (or UIAlertView did). As you are going to see in the following screenshot, the Alert itself seems to be centered just ok, in the middle of the screen, but the "shadow view" that appears at the same time than the alert only

[2016-09-08 17:00] dogo commented on #219
Hi @ignasibm, this can be done in many ways

Getting the window RootViewController
[code]
or using the navigationController
[code]
or creating a new window
[code]

[2016-09-09 00:16] dogo commented on #218
@NikKovV could you please test the develop branch?
Thanks

[2016-09-09 00:17] dogo commented on #217
@alokard Could you please, take a look on this?

[2016-09-09 06:45] ignasibm commented on #219
HI @dogo thank you for your help, it worked!

Some feedback in my particular case. Using the NavController method, the TabBar was still showing over the Alert. It was using the RootViewController method that worked like a charm.

Thanks again :)

[2016-09-09 07:53] ignasibm commented on #90
@dogo I'm sure it's in there but I can't seem to find it. How can I use the 2 buttons stacked horizontally feature?

Thanks!

[2016-09-09 08:20] NikKovV commented on #218
Works well

[2016-09-09 08:35] alokard commented on #217
Sure, will take a look this weekend.

[2016-09-09 13:59] dogo commented on #219
Great :D

[2016-09-09 13:59] #219 closed

[2016-09-09 14:01] dogo commented on #90
@ignasibm , horizontal eg

[code]

[2016-09-13 20:04] alokard commented on #217
Hey, @tinpont. Does your `Cartfile` looks like this:

[code]

You need to specify the master branch cause there was no new release with Cartage support yet.

There was a warning `no umbrella header found` but I've fixed it in attached PR

[2016-09-13 20:08] alokard commented on #217
@dogo may I ask you to add new tag after closing this issue. Carthage, by default, checkouts the latest tag from git so it checkouts `1.0.3` version that doesn't have dynamic framework target for Carthage.

[2016-09-13 20:53] dogo commented on #217
@alokard thanks for the heads up. I'm not a Carthage user hehehe.
version 1.0.5 is live

@tinpont please try again

[2016-09-13 20:53] #217 closed

[2016-09-14 01:39] dogo commented on #218
Please update to 1.0.5 @NikKovV

[2016-09-14 01:39] #218 closed

[2016-09-16 13:12] billionbucks opened #221 "Command failed due to signal: Segmentation fault: 11 swift 3"
i'm getting this buildtime error `Command failed due to signal: Segmentation fault: 11` after updating to Xcode3 how can fix it ? error's logs contains the `SCLAlertView` class's name well the logs are not helpful though for tracing out the cause of this error

[2016-09-20 13:16] yusirxiaer opened #222 "There is a Coverage Problem if do not write title and subtitle!"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
###### Include the following:
- SCLAlertView version: `1.0.5`
- Device OS version: `9.3`
- Device Name: `iPhone 7`
###### Reproduction Steps

 1.do not write title and subtitle
 2.add button
 3.there is a Coverage Problem
###### Expected Result

they don't cover.
###### Actual Result

![image](https://cloud.

[2016-09-21 05:13] i-am-chris commented on #32
Hello please explain this in code.

[2016-09-21 05:23] i-am-chris commented on #206
Hello please explain this in code:

 [alert showSuccess:**self.parentViewController** title:@"Success!" subTitle:@"You accepted!" closeButtonTitle:nil duration:0.0f];

this is how you solve the scrolling issue on tableview

[2016-09-21 13:07] #206 closed

[2016-09-21 13:08] dogo commented on #222
Ops! my bad, I will fix this. Sorry

[2016-09-21 13:09] dogo commented on #221
swift? this project is the objective-c version

[2016-09-21 14:13] dogo commented on #216
@pangelovski currently it's not possible, sorry.

[2016-09-21 14:13] #216 closed

[2016-09-25 07:25] KodiKraig commented on #221
Getting this same error. In my project everywhere I used SCLAlertView constructor or any calls to the framework, its broken after the conversion. Not sure how to solve this problem other than removing all the code using the SCLAlertView.

[2016-09-28 08:26] mmahkamov commented on #211
Having the same issue with SCLAlertView version: 1.0.5.
The alert is dismissed if the user accidentally taps on it (e.g. misses a button).

[2016-10-04 05:30] glennposadas commented on #215
Hi, have you solved this? I'm filing a sweet issue later about managing keyboards too and animating the alert upwards using IQKeyboardManager.

[2016-10-04 11:47] glennposadas opened #223 "Keyboard pushes up the SCAlertView with IQKeyboardManager"
- [ ] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - SCLAlertView version: The latest version via cocoapods
 - Device OS version: `9.3`
 - Device Name: `iPhone 5s simulator`

###### Reproduction Steps
 1. Use IQKeyboard Manager to your app
 2. Show the SCAlertView with textField
 3. Rotate the iPhone to Landscape
 4. Tap the t

[2016-10-04 12:48] dogo commented on #223
Hi @glennposadas as the IQKeyboardManager warning disclaimer says :

 If IQKeybaordManager conflicts with other third-party library, then it's developer responsibility to enable/disable IQKeyboardManager when presenting/dismissing third-party library UI. **Third-party libraries are not responsible to handle IQKeyboardManager.**

https://github.com/hackiftekhar/IQKeyboardManager

[2016-10-04 12:48] #223 closed

[2016-10-04 12:48] dogo commented on #215
Hi @hongdong  as the IQKeyboardManager warning disclaimer says :

If IQKeybaordManager conflicts with other third-party library, then it's developer responsibility to enable/disable IQKeyboardManager when presenting/dismissing third-party library UI. Third-party libraries are not responsible to handle IQKeyboardManager.

https://github.com/hackiftekhar/IQKeyboardManager

[2016-10-04 12:48] #215 closed

[2016-10-04 18:07] glennposadas commented on #215
SOLVED: Disable the IQKeyboardManager before showing the alert, and enable the libabry when the user idmiss the alert.

[2016-10-04 18:10] glennposadas commented on #223
SOLVED: Disable the IQKeyboardManager before showing the alert, and enable the libabry when the user idmiss the alert.

[2016-10-05 02:39] #213 closed

[2016-10-05 02:40] #199 closed

[2016-10-05 02:40] #197 closed

[2016-10-05 02:41] #72 closed

[2016-10-07 11:05] kientux commented on #168
Though this issue is old, I find a way to fix this. I noticed that `SCLAlertView` is just a subclass of `UIViewController`, so I create my own subclass of `SCLAlertView` and override those orientation methods, and it works perfectly.

[2016-10-22 02:20] JsonFu opened #225 "One of the two will be used. Which one is undefined."
When I run the emample it will print :
Class SCLSwitchView is implemented in both /Users/xxx/Library/Developer/Xcode/DerivedData/SCLAlertView-dojnvneelxdzkechfwggltvyjazr/Build/Products/Debug-iphonesimulator/SCLAlertViewFramework.framework/SCLAlertViewFramework (0x111d9bc80) and /Users/xxx/Library/Developer/CoreSimulator/Devices/19734992-DA5F-444D-B0BA-4683F94357CE/data/Containers/Bundle/Applicati

[2016-10-27 02:41] dogo commented on #214
Fixed by PR #226

[2016-10-27 02:41] #214 closed

[2016-10-27 13:44] glennposadas commented on #123
hi @batnom , how about trying to do what you want to do inside the textField delegate (**textFieldShouldReturn**) ?

`// MARK: - TextField Delegate

extension LoginViewController {

    func textFieldShouldReturn(_ textField: UITextField) -> Bool {
        textField.resignFirstResponder()

        if textField == textField_Email{
            textField_Password.becomeFirstResponder()
        } else

[2016-11-07 22:17] pnome opened #227 "[Request] initial text and 'x' button in text entry"
I love SCLAlertView and use it a lot in my app.

It would be great if there was an option to set the initial text in the text field and have an 'x' button on the right to clear it if the user wants to enter something else.

Thanks!

[2016-11-08 12:10] dogo commented on #227
Hi, @pnome, you can change the UITextField clearButtonMode :

[code]

[2016-11-08 12:16] dogo commented on #225
fixed

[2016-11-08 12:16] #225 closed

[2016-11-08 15:32] pnome commented on #227
Brilliant. Thank you.

[2016-11-08 15:32] #227 closed

[2016-11-09 13:16] tropicdome opened #228 "Differentiate color of close/cancel button"
- SCLAlertView version: 1.0.6

From a user experience point of view it would be great to be able to change the color of the different buttons, especially the close/cancel button. It can be unintuitive for a user if the close button is the same color as the other button(s).

[2016-11-09 13:21] dogo commented on #228
hi @tropicdome , you can configure your button specs

![simulator screen shot 9 nov 2016 11 20 28](https://cloud.githubusercontent.com/assets/1487375/20139711/8d0b2ea0-a66e-11e6-8547-558c219a95b2.png)

[code]

[2016-11-09 13:27] dogo commented on #228
Another approach

![simulator screen shot 9 nov 2016 11 26 35](https://cloud.githubusercontent.com/assets/1487375/20139900/7bc83b8c-a66f-11e6-9aa2-31bf71f34a42.png)

[code]

[2016-11-09 13:28] #228 closed

[2016-11-09 13:38] tropicdome commented on #228
I will try that. Thank you

[2016-11-16 07:04] rurza commented on #147
@dogo it seems, that there is hardcoded value of top margin. What if I change it?

[2016-11-25 13:59] DanielCardonaRojas opened #231 "Not centered vertically when presented in navigation controller"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - SCLAlertView version: `~> 1.0`
 - Device OS version: `9.0`
 - Device Name: `iPhone 9`

###### Reproduction Steps
 1. Create a SCLAlertView from within a navigation controller
 2. Present
 3. Doesn't get centered vertically.

###### Actual Result
![pedir_turno](https://cloud.

[2016-11-25 14:29] dogo commented on #231
https://github.com/dogo/SCLAlertView/issues/219

[2016-11-25 16:18] #231 closed

[2016-12-09 13:17] marcoslacerda opened #233 "Update CocoaPods"
Hello Guy,

Could you perform the podspec update so that the update I made from the source may be available?

Hugs

[2016-12-09 13:21] dogo commented on #233
Hi @marcoslacerda

I made the update, the 1.1.0 release contain your changes

[2016-12-09 13:26] marcoslacerda commented on #233
Thanks!

[2016-12-09 13:26] #233 closed

[2016-12-17 22:48] vidurgupta01 opened #234 "Custom Views generated few seconds after alert is displayed, are stacking up on each other"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - SCLAlertView version: `1.0.6`
 - Device OS version: `10.2`
 - Device Name: `iPhone 7 Plus Simulator`

###### Expected Result
I tried to programmatically add more views to my alert view. The views are my custom views, and they are being generated from data coming from a HTTP

[2016-12-20 08:23] colditz18 opened #235 "XCode 8.2 language error"
Just installed xcode 8.2 and my working code shows now the error

“Use Legacy Swift Language Version” (SWIFT_VERSION) is required to be configured correctly for targets which use Swift. Use the [Edit > Convert > To Current Swift Syntax…] menu to choose a Swift version or use the Build Settings editor to configure the build setting directly.

I've tried to set "Use Legacy Swift Language Version" to

[2016-12-21 02:04] dogo commented on #235
Hi @colditz18 ,

This is the Objetive-c version of SCLAlertView

``
pod 'SCLAlertView-Objective-C'
[code]

[2016-12-21 02:04] #235 closed

[2016-12-22 10:32] ElDouD commented on #168
Thanks it works ;-)

[2016-12-22 11:52] #168 closed

[2017-01-12 02:48] King-whb opened #236 "amazing ,but if we can custom button corlor not only custom main corlor"
- [ ] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - SCLAlertView version: `1.0.3`
 - Device OS version: `6.0`
 - Device Name: `iPhone 6`

###### Reproduction Steps
 1.
 2.
 3.

###### Expected Result

###### Actual Result

### Tell us what could be improved:

[2017-01-12 02:49] King-whb commented on #236
it will be fine

[2017-01-12 02:57] dogo commented on #236
@King-whb did you run the sample? did you read the readme?

All the buttons could be customized using the buttonFormatBlock
[code]

[2017-01-12 02:58] #236 closed

[2017-01-12 17:25] AnaTeresaNeto opened #237 "window does not disappear when use hideView on first app run"
- [ ] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - SCLAlertView version: `1.1.0`
 - Device OS version: `10.2`
 - Device Name: `iPhone 6`

###### Reproduction Steps
 1. run app
 2. tap on alert to dismiss
 3. need to second tap on alert to really dismiss it, but only the first time the app run in a specific

###### Expected R

[2017-02-10 09:38] pengshengsongcode opened #240 "delegate 应该使用weak修饰，否则会造成循环引用 SCLAlertView.swift Line 76"
- [ ] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - SCLAlertView version: `1.0.3`
 - Device OS version: `6.0`
 - Device Name: `iPhone 6`

###### Reproduction Steps
 1.
 2.
 3.

###### Expected Result

###### Actual Result

### Tell us what could be improved:

[2017-02-10 11:57] dogo commented on #240
This is the object-c version, and I cant read Japanese :(

Open the issue here : https://github.com/vikmeup/SCLAlertView-Swift

[2017-02-10 11:57] #240 closed

[2017-02-14 11:35] mukulm24 opened #242 "Access a Button"
- [ ] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - SCLAlertView version: `1.0.3`
 - Device OS version: `6.0`
 - Device Name: `iPhone 6`

###### Reproduction Steps
 1.Create a SCLAlertView
 2.Add a button to it

###### Expected Result
How do i change the properties of this button on its tap.

let changeButton = alert.addButto

[2017-02-15 07:03] johnyluyte commented on #242
Don't know if this is the right way to do it. But I usually use the showCustomSubview example to create my own button:

    func showCustomSubview() {
        alert = SCLAlertView(appearance: appearance)
        alert.showInfo("title")

        // Customize your button
        let confirmButton = UIButton(frame: CGRect(x: 0, y: 0, width: 100, height: 100))
        // Change event listener to "tap"

[2017-02-16 07:42] iosdev-republicofapps opened #243 "SCLAlertView should build without warnings"
- [x ] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - SCLAlertView version: `1.1.0`
 - Device OS version: `10.2.1`
 - Device Name: `iPhone 6`

###### Reproduction Steps
 1. Compile an app using SCLAlertView (through CocoaPods) in Xcode Version 8.2.1 (8C1002) on OS X 10.12.3.
 2. No other steps
 3.

###### Expected Result

SCLA

[2017-02-16 07:43] iosdev-republicofapps commented on #243
One more, sorry:

Warning: no rule to process file '/Users/joel/src/GetLive/Pods/SCLAlertView-Objective-C/SCLAlertView/comic-sans.ttf' of type file for architecture x86_64

[2017-02-16 13:26] dogo commented on #243
Fixed, please update to 1.1.1.

Thanks @iosdev-republicofapps

[2017-02-16 13:26] #243 closed

[2017-02-16 20:25] iosdev-republicofapps commented on #243
No, thank you!  :-)

Sent from my iPhone

[2017-02-17 04:53] iosdev-republicofapps commented on #243
Thanks @dogo .  I upgraded to 1.1.1 and that fixed those warnings.  But now I get another warning (that was not there in the previous version of SCLAlertView):

[code]

Did this font file get removed from the pod?

[2017-02-17 06:30] iosdev-republicofapps commented on #243
Hmm, the font warning went away after I git committed the updated pod.  Sorry for the false alarm.

[2017-02-18 13:39] WillemPieterse opened #244 "Progress"
- [X] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - SCLAlertView version: `1.1.1`
 - Device OS version: `10.0`
 - Device Name: `Any`

Kindly add a feature to update a "Waiting" Alert View with progress. (I use Swift)
 `
let progress =  SCLAlertView()

progress.showWaiting(self,title: "Please Wait", subTitle: "Refresshing the

[2017-02-21 02:23] kuteteen opened #245 "help add SCLAlertView in theos ???"
help add SCLAlertView in theos ???
i make tweak but error:
ld: warning: object file (/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/../lib/clang/7.3.0/lib/darwin/libclang_rt.ios.a(emutls.c.o)) was built for newer iOS version (6.0) than being linked (5.0)
Undefined symbols for architecture armv7:
  "_OBJC_CLASS_$_SCLAlertView", referenced from:
      objc-cla

[2017-02-21 02:34] #245 closed

[2017-02-28 03:17] arkilis opened #246 "SCLAlertview in a new window. (No UIViewController) : The window cannot be closed"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - SCLAlertView version: `1.1.0`
 - Device OS version: `9.0`
 - Device Name: `iPhone 6`

###### Reproduction Steps
 1. Pad Install
 2. Code:
`SCLAlertView *alert = [[SCLAlertView alloc] initWithNewWindowWidth:300.0f];
        [alert  showError:@"Error"
                subTitle:

[2017-02-28 11:43] dogo commented on #246
@arkilis , I tested your code and works fine, the window is dismissed. could you please provide more information ?

[2017-03-02 01:34] arkilis commented on #246
`@implementation LoadDataAtFirstTimeRun

+(void)startApplication{

    // detect the Internet reachbility
    Reachability *hostReachability = [Reachability reachabilityWithHostName:REMOTEHOSTNAME];

    if([hostReachability currentReachabilityStatus] != NotReachable){

        // Serialization on species/parts
        [SpeciesRealmManager getAllSpecies:nil];

        // Serialization on growth st

[2017-03-02 02:11] dogo commented on #246
Humm the problem isn't the static function, probably is the life cycle. Where in the app or UIViewController life cycle the static method is called? Something like ViewDidLoad is wrong, should be ViewDidAppear or WillApper

[2017-03-02 02:13] #242 closed

[2017-03-02 02:14] dogo commented on #237
Everything is fine here, could you please provide more information

[2017-03-02 02:14] #237 closed

[2017-03-08 04:49] #221 closed

[2017-03-10 07:09] icefox57 opened #247 "support NSMutableAttributedString?"
- [ ] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - SCLAlertView version: `1.0.3`
 - Device OS version: `6.0`
 - Device Name: `iPhone 6`

###### Reproduction Steps
 1.
 2.
 3.

###### Expected Result

###### Actual Result

### Tell us what could be improved:

will it support NSMutableAttributedString?

[2017-03-10 07:16] #247 closed

[2017-03-14 13:44] mikelrmb commented on #246
same issue @arkilis figure out?

[2017-03-16 23:40] arkilis commented on #246
no, I found out,  this only can be called from viewcontroller class @mikelrmb

[2017-04-11 02:37] Connerli commented on #211
I have the same issue.

[2017-04-11 13:02] #246 closed

[2017-04-11 14:36] dogo commented on #211
@jackyzh
@mmahkamov
@Connerli
Please update to 1.1.2

[2017-04-12 02:57] Connerli commented on #211
@dogo Resolved, thank you.

[2017-04-12 03:05] #211 closed

[2017-04-12 13:40] dogo commented on #185
Could not reproduce with the sample app.

[2017-04-12 13:40] #185 closed

[2017-04-12 13:43] #187 closed

[2017-04-12 13:44] dogo commented on #182
Could not reproduce.

[2017-04-12 13:44] #182 closed

[2017-04-12 13:45] #167 closed

[2017-04-12 13:46] #137 closed

[2017-04-18 19:21] #162 closed

[2017-05-25 12:57] rjcristy commented on #105
Not working again at version 1.1.2

[2017-05-25 13:42] dogo commented on #105
Could you please provide me a sample.

Thanks

[2017-06-08 11:41] FouadRaheb opened #250 "Custom TextField not adding Keyboard Observers"
Is there any reason why you're not calling `[self addObservers];` on `- (void)addCustomTextField:(UITextField *)textField;` just like its called on `addTextField:(NSString *)title`.

Calling it would enable moving the alert view to top when the keyboard is showing.

[2017-06-21 10:14] Connerli opened #252 "Custom view margin issues"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - SCLAlertView version: `1.1.2`
 - Device OS version: `10.1.1`
 - Device Name: `iPhone 5s`

###### Reproduction Steps
 1.
![ea4e9e08-cea0-4b9d-ad74-744cf41b5960](https://user-images.githubusercontent.com/16755393/27378860-c63f724c-56ab-11e7-9176-7109b7755d26.png)
 2.
![1f0e4a1

[2017-07-27 13:51] hilalbaig commented on #185
Change this function

 to this in SCLAlertView controller,

[code]

[2017-09-18 21:58] vinayakpal opened #253 "Problem in increasing height of TextField & customize the Alert view colour & image & button"
Please help with the above mention problem

[2017-09-19 12:36] vinayakpal opened #254 "i need to add on the preloaded text in the text field before textfield Alert pop up"
i've a concern regarding the textfield preloaded text as i need to edit the detail of user display name so whenever user want to edit the name he/she pop up the text field alert. So the text field in alert shows the previous name that mention in the app.

[2017-09-19 13:32] dogo commented on #253
Could you please post a sample ?

[2017-09-19 13:40] dogo commented on #254
What? Could you please explain me what you want and what's the problem? I don't understand your issue (When you open issues, please fill the issue template)

[2017-09-19 14:04] vinayakpal commented on #254
![img-0371](https://user-images.githubusercontent.com/31687604/30596110-d5fddaaa-9d70-11e7-9007-0464a1204ff3.PNG)
![img-0372](https://user-images.githubusercontent.com/31687604/30596111-d6006c52-9d70-11e7-9487-427c85bd08c0.PNG)

Above mention image will clear you what exactly i'm asking

I made an custom alert where user need to add their name during editing their profile.
Now, as image one shows

[2017-09-19 14:11] vinayakpal commented on #253
i need to enter at maximum 150 characters in the text field but i won't shows the previous text we have enter as the text field height is default 30.f . is there any facility that height of textfield will automatically increase as long as we added text inside text field for clear view of all text.
I hope you gonna understand the problem by attached image. Thank you. Love to hear back from you ASAP

[2017-09-19 16:06] KelvinEC opened #255 "Carthage Support"
I'm using Carthage to manage my dependencies. I can downlod, build and link framework, but when i try to import it into Objective-c code `#import <SCLAlertViewFramework/SCLAlertViewFramework.h>` i'm receiving `Cannot find interface declaration for 'SCAlertView', superclass of 'MyAlertView'`. How can i proceed?

###### Include the following:
 - SCLAlertView version: `1.1.2`
 - Device OS version: `9

[2017-09-25 15:29] Sweeper777 opened #256 "Use the builder pattern to build a SCLAlertView?"
The constructor of `SCLAlertView.SCLAppearance` is really long. When it is shown in Xcode's autocomplete thingy, I can't see what each parameter's name is and I can't select only the few parameters that I need either.

I suggest that there  should be a builder class for `SCLAlertView`, so this code:

    SCLAlertView(appearance: SCLAlertView.SCLAppearance(showCloseButton: false))

can just be

[2017-10-04 07:51] msplapps opened #257 "not supporting for Swift 4.0"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - SCLAlertView version: `1.0.3`
 - Device OS version: `6.0`
 - Device Name: `iPhone 6`

###### Reproduction Steps
 1.
 2.
 3.

###### Expected Result

###### Actual Result

### Tell us what could be improved:

[2017-10-04 13:21] dogo commented on #257
Closing, Issues must be have the issue template filled

[2017-10-04 13:21] #257 closed

[2017-10-06 09:45] anhhtbk commented on #255
I have same issue

[2017-10-17 10:43] vinayakpal commented on #253
Hi, i as posted earlier could you please give me a solution that how can i dynmically increase my textView Height as i dont want all the text in single line.

[2017-10-17 10:46] vinayakpal commented on #127
i need to expend the height of textfield as my texted exceeded the limit as i dont want my text to be in single line

[2017-10-17 10:50] vinayakpal opened #258 "TextView height problem when text entered with the long body (it need to expend it's height )"
Hi there,

I've a common problem that i'm using textField in the SCLAlertView and i want when i entered long body text the TextView height shold be expend dynamcially so i can able to see the entire text. Can you help me resolve this

[2017-10-19 09:59] BrunoMiguens opened #259 "Title truncated"
- [X] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - SCLAlertView version: `1.1.2`
 - Device OS version: `All`
 - Device Name: `All`

###### Reproduction Steps
 1. Add a medium/large title and you'll see the title truncated.

###### Expected Result

I think the title should have the ability of, at least, support 2 lines of tex

[2017-10-26 13:53] bablu-joshi commented on #141
same issue

[2017-10-31 06:42] akshay1318a opened #260 "is it possible to change the text colour of title and subtitle of the alert???"
how to change the text colour of the title and subtitle

### Tell us what could be improved:

[2017-10-31 06:57] #260 closed

[2018-01-06 15:21] EricoGT opened #262 "SCLAlertViewHideAnimation wrong animations"
Hey Diogo!

After updating to iOS 11.2.X, every time I use animation options to **hide** the alert (SCLAlertViewHideAnimation*), which has a variation of the alert position, a wrong animation is being generated. The alert is animated from the origin position to the current position and **not** from the current to off-screen position...

[2018-01-06 16:34] dogo commented on #262
HI @EricoGT , could you please provide me a sample ?

[2018-01-06 17:20] EricoGT commented on #262
https://youtu.be/0lLv577vfco

Please watch the video. In the first part I'll show you the problem. In a second example I go to the home menu and only after returning the application I tap the button to close the alert. It is the same alert with the same SCLAlertViewHideAnimation setting.

[2018-01-08 00:12] dogo commented on #262
hum thanks for reporting.
I'm investigating the issue and I realized that only happens with iOS 11+ and using ```SCLAlertView *alert = [[SCLAlertView alloc] initWithNewWindow];``` using the regular ```init```. seems fine.

[2018-01-08 11:06] EricoGT commented on #262
In my tests, use regular `init` instead of `initWithNewWindow` result in the same effect.

[2018-01-17 17:13] dogo commented on #262
@EricoGT Please update to 1.1.3

[2018-01-17 17:18] dogo commented on #255
Please update to 1.1.3

[2018-01-17 17:18] #255 closed

[2018-01-17 17:20] dogo commented on #256
@Sweeper777 Please read the **Fluent style** section

[2018-01-17 17:20] #256 closed

[2018-01-18 11:51] #262 closed

[2018-02-28 04:11] tester87 commented on #259
Can make it title wrap or 2 lines of tittle? Please help

[2018-02-28 17:06] dogo commented on #259
@BrunoMiguens @tester87 , please test the develop branch.

Add support to two lines title #259 d3d90a5e7610af2e809b4db6855a1a858c8651e8

[2018-03-25 14:41] #259 closed

[2018-03-31 19:20] fukemy commented on #219
great job, thanks you

[2018-04-25 16:46] soypaduano commented on #137
I haven't found a proper solution yet.

[2018-06-10 05:56] tester87 opened #266 "How to add in multiple subtitle in an alert view?"
hi all,

How can I add in multiple subtiltle in an alert?
Please help. thank you

[2018-06-11 01:44] Liqiankun commented on #266
Do you see this?
[code]

[2018-06-11 05:15] tester87 commented on #266
Hi LiquanKun, Yes, I saw this but how can I add in multiple subtitle? Such as
[alert showSuccess:self title:@"Hello World" subTitle:@"111"  subTitle2:@"222." closeButtonTitle:@"Done" duration:0.0f];

[2018-06-11 18:57] dogo commented on #266
Hi @tester87 , it's not possible add multiple subtitles, but you can add a subtitle with break lines

[2018-06-12 03:28] Liqiankun commented on #266
@dogo Good idea!

[2018-06-12 13:12] #266 closed

[2018-06-13 08:01] Michaelyb520 opened #267 "How to solve the problem of overlapping multiple calls in a controller?（如何解决在一个控制器中，连续多次调用，会出现重叠的情况？）"
## 发现一个Bug，就是，如果在一个控制器中，使用initNewWindow，有时候，出现连续调用多次，会出现重叠的情况。怎么解决呢？多次重叠，屏幕直接黑屏了。。。。。

![image](https://user-images.githubusercontent.com/9857312/41337844-f0d5bf1c-6f22-11e8-8e9a-8d12fcd18ac1.png)

## 正常情况，应该是下面样式。。。

![image](https://user-images.githubusercontent.com/9857312/41337882-236fae4c-6f23-11e8-9d43-64330c49bde9.png)

[2018-06-13 08:14] Michaelyb520 opened #268 "How to solve the problem of overlapping multiple calls in a controller?（如何解决在一个控制器中，连续多次调用，会出现重叠的情况？）"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests

### Include the following:
 - SCLAlertView version: `1.1.3`
 - Device OS version: `11.0`
 - Device Name: `iPhone X`

### Reproduction Steps

One Bug found is that if you use initNewWindow in a controller, sometimes alert overlaps if you call the show method multiple times in a row. How? Multiple alert overl

[2018-06-13 10:23] Michaelyb520 commented on #268
## 解决办法：
### 1. 显示位置
![image](https://user-images.githubusercontent.com/9857312/41345461-48a1340c-6f36-11e8-8b5e-6e721c47cc5b.png)

### 2. 设置window位置
![image](https://user-images.githubusercontent.com/9857312/41345512-7d72f666-6f36-11e8-936f-929612c642c7.png)

### 3. 初始化位置
![image](https://user-images.githubusercontent.com/9857312/41345535-8fb152f0-6f36-11e8-86d7-7733646ac6c1.png)

### 4. 将SCAlert

[2018-06-13 11:41] Michaelyb520 commented on #268
### PS：上面问题基本上及解决了，又发现多次show的时候，结果是多次创建多个确认按钮，由此可见，这个库的Bug真的不少啊，请求大大们，尽快解决这个问题啊。。。。。

![image](https://user-images.githubusercontent.com/9857312/41349224-ca83e89c-6f41-11e8-8266-962ee91560f3.png)

[2018-06-13 14:07] dogo commented on #267
@Michaelyb520 I don't know chinese, please report in english

[2018-06-13 14:07] dogo commented on #268
@Michaelyb520 I don't know chinese, please report in english

[2018-06-13 15:39] Michaelyb520 commented on #268
@dogo I have roughly translated the above questions into English. Since I don't often use English, my English level is not very good and my translation ability is limited.
@dogo 已经将上述问题大致翻译成英文，由于不常使用英文，我的英文水平也不是很好，翻译能力有限，还望海涵。。。。

[2018-06-19 08:08] lolgear opened #270 "Eliminate warnings"
Could you eliminate warnings and make release?
#269
I have already prepared PR for it.

[2018-06-19 12:41] #270 closed

[2018-06-19 12:44] dogo commented on #270
Please update to 1.1.4

[2018-06-19 19:58] lolgear commented on #270
@dogo thanks!

[2018-06-20 07:07] tmm1 opened #271 "Accessibility: implement - (BOOL)accessibilityPerformEscape"
See http://ronnqvi.st/adding-accessible-behavior

cc #261

[2018-06-22 13:28] lolgear opened #273 "Could you release fixed version?"
Version 1.1.4 is broken, could you release new version?

[2018-06-22 18:55] EricoGT opened #274 "UIStatusBarStyle always appears as 'UIStatusBarStyleDefault'"
Hello!
I have a project using the 'SCLAlertView' (Object-C) pod and even changing the statusBarStyle property to UIStatusBarStyleLightContent when the alert appears on the screen the statusBar shows as UIStatusBarStyleDefault.
This project uses "View controller-based status bar appearance = YES" and is in iOS version 11.4.
What could be happening?

[2018-06-22 22:07] dogo commented on #273
Done! Please update to 1.1.5

[2018-06-22 22:07] #273 closed

[2018-06-27 12:52] twostraws commented on #207
In case anyone else comes across this: this code doesn't actually work as you'd expect, because even though you can change the height of any button the alert view won't be resized to take that new size into account.

[2018-06-28 13:07] #267 closed

[2018-06-28 13:07] dogo commented on #267
dupe

[2018-06-28 14:49] dogo commented on #274
Hi @EricoGT ,

You should set the statusBarStyle
/** Set status bar style.
 *
 * Status bar style
 */
@property (nonatomic) UIStatusBarStyle statusBarStyle;

Another question, which init method are you using? default `init` or `newWindow`?

[2018-06-29 11:00] EricoGT commented on #274
I use:
[code]
But it appears `UIStatusBarStyleDefault`.

[2018-07-07 23:02] dogo commented on #274
It's broken since 1.1.3 =(. I'll try to fix it

[2018-07-10 11:30] EricoGT commented on #274
I thank you for the effort.

[2018-07-11 03:11] jazzwsr opened #276 "handleNavigationTransition Bug"
[SCLAlertView handleNavigationTransition:]: unrecognized selector sent to instance

[2018-07-16 18:13] EricoGT commented on #274
Please take a look when you can:
[https://drive.google.com/open?id=1FISbGbdOh8wh3g3AiHeHPGrDTUGkb2Ym](url)

[2018-08-28 18:38] EricoGT commented on #274
"Ainda há esperança de solução?"

[2018-09-01 12:34] dogo commented on #274
Estou viajando a trabalho, não sei quando terei tempo de ver isso, mas sua solução acima não corrige o problema. Desculpa

[2018-10-02 12:04] invisible66 commented on #137
I have same problem.. Following this issue..

[2018-10-14 14:04] dogo commented on #276
Please fill the issue report

[2018-10-14 14:04] #276 closed

[2018-10-14 14:06] dogo commented on #271
Please fill the issue template

[2018-10-14 14:06] #271 closed

[2018-10-14 14:06] dogo commented on #258
Please fill the issue template

[2018-10-14 14:06] #258 closed

[2018-10-14 14:07] dogo commented on #250
Please fill the issue template

[2018-10-14 14:07] #250 closed

[2018-10-14 14:07] dogo commented on #201
Please fill the issue template

[2018-10-14 14:07] #201 closed

[2018-10-14 14:07] dogo commented on #200
Please fill the issue template

[2018-10-14 14:07] #200 closed

[2018-10-14 14:07] dogo commented on #181
Please fill the issue template

[2018-10-14 14:07] #181 closed

[2018-10-14 14:08] dogo commented on #178
Please fill the issue template

[2018-10-14 14:08] #178 closed

[2018-10-14 14:08] dogo commented on #123
Please fill the issue template

[2018-10-14 14:08] #123 closed

[2018-10-14 14:08] dogo commented on #127
Please fill the issue template

[2018-10-14 14:08] #127 closed

[2018-10-14 14:08] dogo commented on #141
Please fill the issue template

[2018-10-14 14:08] #141 closed

[2018-10-14 14:09] dogo commented on #253
Please fill the issue template

[2018-10-14 14:09] #253 closed

[2018-10-14 14:09] dogo commented on #254
Please fill the issue template

[2018-10-14 14:09] #254 closed

[2018-10-14 14:10] dogo commented on #274
Please fill the issue template

[2018-10-14 14:10] #274 closed

[2018-10-14 23:39] #117 closed

[2018-10-14 23:39] #222 closed

[2018-10-14 23:39] #234 closed

[2018-10-14 23:39] #244 closed

[2018-10-14 23:39] #252 closed

[2018-10-14 23:39] #268 closed

[2018-10-15 18:16] alexandrefurquim opened #280 "UIStatusBarStyle always appears as 'UIStatusBarStyleDefault'"
**Describe the bug**
The property 'statusBarStyle' of SCLAlertView always show as 'UIStatusBarStyleDefault'.

**To Reproduce**
Steps to reproduce the behavior:

- Simply initialize the component as below:
[code]

**Expected behavior**
The component should follow the style of the application as configured by the related property.

**Screenshots**
![img_1318](https://user-images.githubusercontent.co

[2018-10-15 19:01] dogo commented on #280
Proper issue #280

[2018-10-15 19:02] dogo commented on #274
Proper issue #280

[2018-11-21 20:06] #280 closed

[2018-11-30 03:05] kzq5 opened #281 "“durationTimer" should not be a constant, should be a property, or the first one to disappear when multiple prompt boxes appear will cancel the timer, causing the others not to disappear automatically."
**Describe the bug**
“durationTimer" should not be a constant, should be a property, or the first one to disappear when multiple prompt boxes appear will cancel the timer, causing the others not to disappear automatically.

**To Reproduce**
Steps to reproduce the behavior:
![default](https://user-images.githubusercontent.com/11565042/49265937-26028480-f48f-11e8-9026-97951bfb4ceb.png)
You can try i

[2019-01-06 15:17] #281 closed

[2019-01-23 02:56] WowJesse opened #282 "Modify the frame of the customView. How to modify the frame of the alert dynamically"
Modify the frame of the customView. How to modify the frame of the alert dynamically（弹框时，修改了customView的frame，但是怎么动态修改alert的frame）

[2019-01-23 02:59] WowJesse commented on #282
where can i find the function @dogo

[2019-03-01 04:26] #282 closed

[2019-05-03 07:01] tsvidya opened #283 "SCLAertView cannot be used in Shared Extension"
Tried compiling SCLAlertView in the shared extension. But I get the following compiler error.
'sharedApplication' is unavailable: not available on iOS (App Extension) - Use view controller based solutions where appropriate instead.

Is there an way out for this ?

[2019-06-09 07:25] #283 closed

[2019-08-10 02:57] XiaLiancheng opened #285 "How to hidden top image with OC?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-08-10 02:57] XiaLiancheng commented on #285
How to hidden top image with OC?

[2019-09-09 06:01] WIndFate commented on #285
[alert removeTopCircle];

[alert removeTopCircle];

[2019-09-24 11:51] qnkxd opened #286 "Good day, as you can implement the verification key which is located on the website .txt document? Roughly speaking to make check on a key if the key is correct, then there is a start."
Good day, as you can implement the verification key which is located on the website .txt document?
Roughly speaking to make check on a key if the key is correct, then there is a start.

[2019-09-26 20:23] dogo commented on #286
Please fill the issue report

[2019-09-26 20:23] #286 closed

[2019-09-26 20:24] #285 closed

[2019-10-12 18:18] bar2 opened #287 "Nothing happens on show methods @ iOS 13"
**Describe the bug**
SCLAlertView instance not appearing when any of the show methods called (showSuccess, showError etc.)

**To Reproduce**
Steps to reproduce the behavior:
1. Build an app under XCode 11
2. Add SCLAlertView with Cocoapods
3. Initialize and call a show method from a SCLAlertView instance from viewDidAppear

**Expected behavior**
SCLAlertView instance to appear.

**Screenshots**

*

[2019-10-24 07:44] yangdehui opened #288 "设置富文本后不居中显示了 变成了居左。"
alert.attributedFormatBlock = ^NSAttributedString* (NSString *value)
    {
        NSMutableAttributedString *subTitle = [[NSMutableAttributedString alloc]initWithString:value];
        NSRange redRange = [value rangeOfString:currentModel.name options:NSCaseInsensitiveSearch];
        [subTitle addAttribute:NSForegroundColorAttributeName value:[UIColor redColor] range:redRange];
        return sub

[2019-10-24 11:22] dogo commented on #288
English, please and describe your issue

[2019-10-30 00:29] #288 closed

[2019-11-11 19:15] bar2 commented on #287
If there is any additional data I can provide, I'd be happy to.

[2019-11-13 03:32] dogo commented on #287
Seems okay here.

https://www.dropbox.com/s/sjr7jbxf5bswkz1/Screen%20Recording%202019-11-13%20at%2000.31.00.mov?dl=0

[2019-12-20 04:36] #287 closed

[2020-07-11 06:08] GeorgeSwift opened #291 "alertView with textfield moves up twice(too much) when textfield become first responder and the keyboard shows"
**Describe the bug**
alertView with textfield moves up twice (too much) when textfield become first responder and keyboard shows and doesnt move back when keyboard disappears

**To Reproduce**
Steps to reproduce the behavior:
1. add alert
        SCLAlertView *alert = [[SCLAlertView alloc] init];

        UITextField *textField = [alert addTextField:@""];

        [alert addButton:@"Confirm" actio

[2020-07-11 06:19] GeorgeSwift commented on #291
using  IQKeyboardManager in the project

[2020-07-11 06:46] GeorgeSwift commented on #291
turning  IQKeyboardManager off , working well

[2020-07-12 02:52] #291 closed

[2020-08-02 04:57] balusreekanth commented on #283
You can Set Require Only App-Extension-Safe API to “NO”. in build settings for  SCLAlertView target and compile . pic :  https://askadmin.com/sharedapplication-is-unavailable-not-available-on-ios-app-extension/

[2020-09-03 02:59] mikezang opened #292 "Is this used in nested?"
I wan to use SCLAlertView in nested, is this possible?

Can you give me some sample code?

[2020-09-09 02:28] zakhoy commented on #4
Hey there how can add simple  login username and password

SCLAlertView *alert = [[SCLAlertView alloc] initWithNewWindow];

 [alert addTextField:@"username"];

[alert addTextField:@"Password"];

    [alert addButton:@"Show Name" actionBlock:^(void) {

timer(2) {
        setupMenu();
      });
    }];

[2020-09-09 02:29] zakhoy commented on #4
User can be Able to login using username and password simple for example username is zaxo password is 123456

[2020-09-17 03:06] zakhoy opened #293 "SCLAlertView *alert = [[SCLAlertView alloc] initWithNewWindowWidth:300.0f]; self.username = @"zaxo"; self.password = @"pass"; UITextField *usernameTextField = [alert addTextField:@"username"]; UITextField *passwordTextField = [alert addTextField:@"password"]; passwordTextField.secureTextEntry = YES; [alert addButton:@"Login" actionBlock: ^(void){ BOOL isUsersEqual = [self.username isEqualToString:[self.usernameTextField text]]; BOOL isPasswordsEqual = [self.password isEqualToString:[self.passwordTextField text]]; if(isUsersEqual && isPasswordsEqual){ NSLog(@"Successful"); } else { NSLog(@"frailer"); } @@@@@@@@ Why I can't compile it I even have set the @Property (nonatomic, strong) NSString *username; in SCLALertView.m but I still errors do im doing anthing please can you help Tweak.xm:350:1: error: use of undeclared identifier 'self' self.username = @"zaxo";"

[2020-09-17 03:10] zakhoy commented on #293
Why I can't compile it I even have set the @property (nonatomic, strong) NSString *username; in SCLALertView.m but I still errors Tweak.xm:350:1: error: use of undeclared identifier 'self'                                                   
self.username = @"zaxo";

[2020-09-17 04:56] zakhoy commented on #293
I got it fix thanks it was handler issues

[2020-10-11 23:40] #292 closed

[2020-10-31 19:24] #293 closed

[2020-11-20 08:04] jack110530 opened #294 "the property 'backgroundOpacity' can`t custom by myself ???"
蒙版背景无法自定义颜色和透明度吗？？？

[2021-01-29 13:50] 3xtc commented on #20
Hey dogo sorry for comment here , how do I get alert.soundURL = [NSURL fileURLWithPath:[NSString stringWithFormat:@"%@/right_answer.mp3", [[NSBundle mainBundle] resourcePath]]];

To work ? I can share my code if can help please , is it so well popup is shown music will play ? Good feature I want if so .

[2021-02-05 05:44] pnome opened #296 "Is this an SCLAlertView bug, or an Apple bug?"
I'm having issues with the SCLAlertView dialog moving when the keyboard appears on the iPad

The only way I can get it to work correctly is if the SCLAlertDialog with the text field is called in the actionBlock of a previous SCLAlertDialog.

If it wasn't for that strange fact, I'd be certain this is an Apple bug.

**I have a detailed video showing the issue here.**  The description of what's happe

[2021-02-05 19:50] pnome opened #297 "Bug with Keyboard on iPad in Landscape"
**Describe the bug**
With an iPad in landscape, and a dialog with a text field, when tapping in the text field, the keyboard covers the buttons of the dialog.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the SCLAlertView-ObjectiveC example project on an iPad in landscape
2. Tap the "Show Edit" option
3. Tap in the text field
4. You can see it happening here: https://www.loom.com/share

[2021-02-05 19:54] pnome commented on #296
I posted another issue which shows this problem inside the example app. So, it's not related to my code.

[2021-02-05 19:54] #296 closed

[2021-02-13 01:12] pnome commented on #297
Anybody have any ideas about this? It seems to work ok in the Swift version.

[2021-02-22 09:15] hms040717007 commented on #297
me too

[2021-02-22 09:15] hms040717007 commented on #297
Hope the author can solve it soon.thanks

[2021-03-10 16:31] itzharDev opened #298 "Remove Popup icon"
can you please add a property to remove the icon?

[2021-03-31 00:29] pnome commented on #297
I'd love to know if anybody has any ideas about this. Seems like a tricky one to fix.

[2021-07-09 14:15] giria opened #299 "Cannot find ChangesLog for version 1.2.0"
I cannot find the changeLog for version 1.2.0.

On the ChangeLog file, last entry is 1.1.4.

Where I can find a list of changes for 1.2.0 (SCLAlertView-Objective-C)?

Thanks

[2021-07-10 02:21] dogo commented on #299
https://github.com/dogo/SCLAlertView/releases/tag/1.2.0

[2021-07-10 02:21] #299 closed

[2021-07-10 07:07] giria commented on #299
Oh, I see. Thanks a lot.

[2021-07-10 09:46] pnome opened #300 "iPad keyboard covered by alert"
I'm reposting this as a new issue as it didn't seem to get seen. Hopefully someone has an idea about whether it's fixable. I have my fingers crossed.

Describe the bug
With an iPad in landscape, and a dialog with a text field, when tapping in the text field, the keyboard covers the buttons of the dialog.

To Reproduce
Steps to reproduce the behavior:

Run the SCLAlertView-ObjectiveC example projec

[2021-09-14 04:05] dogo commented on #300
@pnome Could please validate the `fix/improve-keyboard-handling` branch ??

[2021-09-14 17:57] pnome commented on #300
Hi @dogo,

Thanks for looking into this. I'm not entirely sure how to test a specific branch. Could you let me know how I can install that branch via CocoaPods?

Or, is there a way I can download that branch and run the examples (like I did in the video)?

My wife is about to have baby, so I might not be able to get around to it for a few days.
Best,
Joe

[2021-09-14 21:43] dogo commented on #300
Hi @pnome , in your podfile put this:
`pod 'SCLAlertView-Objective-C', :git => 'https://github.com/dogo/SCLAlertView.git', :branch => 'fix/improve-keyboard-handling'`

and btw congrats! babies always make us happy

[2021-09-22 04:30] #298 closed

[2021-09-22 04:30] #294 closed

[2021-10-01 20:48] pnome commented on #300
Hi @dogo,
Sorry it took me a while to get around to this. I tested the example in the new branch and it's still buggy.

Please see this video: https://loom.com/share/5e6bdddaedbe46c684df5e0754e6f515

Thanks,
Joe

[2021-10-18 03:53] TomasWell opened #302 "showCustom 的时候如何自定义 closeButton样式"
[alert showCustom:[UIImage imageNamed:@"icon_bao"] color:UIColor.blackColor title:@"提示" subTitle:message closeButtonTitle:@"" duration:0.0];

请问，用这个方式弹出alert的时候，closeButton如何设置属性

[2021-10-20 20:30] #302 closed, assigned to nobody

[2022-01-08 22:55] #297 closed